body {min-width:1600px;}

.adminContent_table_div { width: 100%; overflow-x: auto;margin-top: 70px;}

.select-arrow {
	color : red;
}
input::placeholder {
    color: #CEC6DE;
}
.adminContainer {position:relative;}
.adminContainer {position:relative;}
.rightmenu {position:fixed;width:15%;top:0;right:0;height:100%;background:#EAE6F2;padding:100px 56px 60px;z-index:50;overflow:scroll;}
.rightmenu > ul > li {margin:0 0 40px;}
.rightmenu > ul > li > h5 {color:#4E327B;border-bottom:1px solid #bababa;line-height:36px;text-align:right;}
.rightmenu > ul > li > ul > li {line-height:26px;margin:4px 0;text-align:right;}
.rightmenu > ul > li > ul {margin:6px 0 0;}
.rightmenu > ul > li > ul > li a {color:#4E327B;padding:0 8px;font-size:16px;}
.rightmenu > ul > li > ul > li a.active, .rightmenu > ul > li > ul > li a:hover {background:#cec4de;}

.adminWrap {width:calc( 100% - 400px );padding:0 0 0 90px;}

.admin_m_header {display:none;}

.adminWrap_topmenu {padding:24px 0 0 0;}
.adminWrap_topmenu ul {display:flex; justify-content: flex-end;}
.adminWrap_topmenu ul li {width:120px;text-align:center;font-size:18px;line-height:36px;padding:0 0 6px 0;margin:0 0 0 12px;}
.adminWrap_topmenu ul li.active a {color:#4E327B;border-bottom:3px solid #4E327B;}

.adminWrap_title {display:flex;align-items: center;height:46px;border-bottom:1px solid #bababa;padding:0 0 16px 0;margin:0 0 24px 0;}
.adminWrap_title h3 {margin:0 10px;padding:0 10px;text-align:center;color:#4E327B;}
.adminWrap_title p {font-size:14px;color:#707070;}

.adminWrap_title2 {display:flex;align-items: center;height:46px;border-bottom:1px solid #bababa;padding:0 0 16px 0;margin:0 0 24px 0;}
.adminWrap_title2 h3 {margin:0 10px;text-align:center;color:#4E327B;}
.adminWrap_title2 p {font-size:14px;color:black;}

.adminContent:after {content:"";display:block;clear:both;}
.adminContent {height:1000px;overflow-y:scroll;width: 96%;margin: auto;}
.adminContent{ -ms-overflow-style: none; } .adminContent::-webkit-scrollbar{ display:none; }
.rightmenu{ -ms-overflow-style: none; } .rightmenu::-webkit-scrollbar{ display:none; }

.adminContent_leftmenu {position:relative;float:left;background:#603A8A;padding:20px;width:180px;height:100%;}
.adminContent_leftmenu h4 {color:#fff;font-weight:600;margin:0 0 36px 0;}
.adminContent_leftmenu > ul > li {margin: 0 0 12px 0;}
.adminContent_leftmenu > ul > li > ul > li {line-height:32px;color:#fff;padding:0 0 0 10px;font-size:16px;font-weight:400;}
.adminContent_leftmenu_drop {font-size:18px;color:#fff;background:url('../image/admin_leftup.png') right center no-repeat;border-bottom:1px solid #fff;padding:0 0 6px;margin:0 0 12px;}
.adminContent_leftmenu_title {font-size:18px;color:#fff;}
.adminContent_leftmenu .switch {float:right;margin:2px 0 0 0;}
.adminContent_leftmenu > ul > li > ul > li .switch {float:right;margin:6px 0 0 0;}
.adminContent_leftmenu_modify {position:absolute;width:40px;right:20px;bottom:40px;z-index:40;cursor:pointer;}
.adminContent_leftmenu_modify_m {position:absolute;width:40px;right:20px;bottom:40px;z-index:40;cursor:pointer;}
.adminContent_leftmenu_modify img {width:100%;}
.adminContent_leftmenu_modify_m img {width:100%;}

.adminContent_right {float:left;width:calc( 100% - 180px );padding:20px 40px;}

.adminContent_tab {margin : 20px 0 20px 0;}
.adminContent_tab ul {display:flex;}
.adminContent_tab ul li {font-size:18px;width:auto;font-weight:600;text-align:center;margin:0 60px 0 0;}
.adminContent_tab ul li.active a {color:#4E327B;border-bottom:3px solid #4E327B;}
.adminContent_tab ul li a {color:#BABABA;}

.adminContent_check_right {text-align:right;}
.adminContent_check_right input[type="checkbox"] + label {padding:0 26px 0 0;color:#4E327B;font-size:16px;text-align:Right;margin:0 0 0 auto;}
.adminContent_check_right input[type="checkbox"] + label:before {right:0;left:auto;}
.adminContent_check_right input[type="checkbox"] + label span, .adminContent_check_right input[type="checkbox"]:checked + label:after {right:3px;left:auto;}

.adminContent_search {margin:24px 0 36px;}
.adminContent_search:after {content:"";display:block;clear:both;}
.adminContent_search input {float:left;padding:0 26px;width:calc( 100% - 280px );height:32px;line-height:32px;background:url('../image/market_serch.png') no-repeat #EAE6F2;background-position:left 10px center;box-sizing:border-box;}

.adminContent_search2 {margin:24px 0 36px;}
.adminContent_search2:after {content:"";display:block;clear:both;}
.adminContent_search2 input {float:left;padding:0 16px;width:calc( 100% - 280px );height:41px;line-height:41px;background:url('../image/market_serch.png') no-repeat #EAE6F2;background-position:left 10px center;box-sizing:border-box;}


.adminContent_search input::placeholder {color:#D5CCE3; padding-left:25px;}

.adminContent_search2 input::placeholder {color:#D5CCE3; padding-left:2px;font-size:15px;}
.adminContent_search_long input {width:calc( 100% - 150px );}

.adminContent_search_long2 input {width:100%;}

.adminContent_search a {float:right;width:120px;height:32px;line-height:32px;border-radius:5px;background:#4E327B;text-align:center;color:#fff;margin:2px 8px 2px 2px;}
a.check_btn {float:right;width:120px;height:32px;line-height:32px;border-radius:5px;background:#4E327B;text-align:center;color:#fff;margin:2px 8px 2px 2px;}
a.check_btn2 {float:right;width:120px;height:32px;line-height:32px;border-radius:5px;background:#4E327B;text-align:center;color:#fff;margin:8px 8px 2px 2px;}
.adminContent_search_select {color:#D5CCE3;float:right;padding:0 10px;width:250px;height:32px;line-height:32px;background: #EAE6F2;box-sizing:border-box;text-align:left;}

.adminContent_profit {width:250px;margin:0 0 0 auto;height:52px;line-height:52px;font-size:21px; color:#4E327B;background:#EAE6F2;text-align:center;font-weight:500;}
.adminContent_profit + .adminContent_search {margin:10px 0 36px;}

.adminContent_table {margin:36px 0 0 0;}
.adminContent_table tr {height:50px;}
.adminContent_table th {font-size:16px;font-weight:400;text-align:center;color:#000;line-height:30px;vertical-align:middle;border-bottom:1px solid #bababa;padding:0 0 10px 0;}
.adminContent_table2 th {font-size:16px;font-weight:400;text-align:center;color:gray;line-height:30px;vertical-align:middle;border-bottom:1px solid #bababa;padding:0 0 10px 0;}
.adminContent_table td {font-size:16px;font-weight:400;text-align:center;color:#000;line-height:22px;padding:12px 8px;vertical-align:middle;}
.adminContent_table2 td {font-size:16px;font-weight:400;text-align:center;color:gray !important;line-height:22px;padding:12px 8px;vertical-align:middle;}
.adminContent_table_checkbox {height:42px;}
.adminContent_table_checkbox input[type="checkbox"] + label{top:8px;}
.adminContent_table td.adminContent_table_name {text-align:left;min-width: 200px;}
.adminContent_table td.adminContent_table_name:after {content:"";display:block;clear:both;}
.adminContent_table td.adminContent_table_name span {float:left;width:42px;height:42px;margin:0 10px 0 0;background:url('../image/admin_imgsample.png') no-repeat;border-radius:50%;}
.adminContent_table td.adminContent_table_name p {float:right;width:calc( 100% - 52px );line-height:42px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

.adminContent_pager {display: flex;justify-content: center;margin-top:40px;}
.adminContent_pager span {display:inline-block;margin:24px 0 0 0;padding:0 6px;font-weight:500;color:#9e9e9e;}
.adminContent_pager span.active {font-weight:700;color:#4E327B;}

.adminContent_total {color:#4E327B; margin : 10px;}

.adminContent_date{position:relative;width: 360px;float : left;bottom: 25px;}
.adminContent_date_middle{position:relative;width: 70px;float : left; margin-top: 7px; color:#9F8EB8;bottom: 25px;}

.adminContent_date select { font-size:16px;width:30%;color:#D5CCE3;background-color: #EAE6F2;padding : 0 10px 0 10px;margin:0 5px 0 0;height: 32px;text-align:center;}

.adminContent_date2 {position:relative;width: 140px;float : left;bottom: 25px;}
.adminContent_date2 select { font-size:16px;width:90%;color:#D5CCE3;background-color: #EAE6F2;padding : 0 10px 0 10px;margin:0 5px 0 0;height: 32px;text-align:center;}

.adminContent_order:after {content:"";display:block;clear:both;}
.adminContent_order input {float:left;padding:0 26px;width:calc( 100% - 260px );height:32px;line-height:32px;background:no-repeat #EAE6F2;background-position:left 10px center;box-sizing:border-box;}
.adminContent_order a {float:right;width:120px;height:32px;line-height:32px;border-radius:5px;background:#4E327B;text-align:center;color:#fff;margin:2px;}

.adminContent_table tr td:nth-child(10) a {/* text-decoration:underline; */}

.adminContent_profit_table td p {cursor:pointer;text-decoration:underline;color:#4E327B;}

.adminContent_banner > h5 {color:#4E327B;}
.adminContent_banner ul {margin:30px 0 40px;}
.adminContent_banner ul:after {content:"";display:block;clear:both;}
.adminContent_banner ul li {float:left;width:calc(( 100% - 80px ) /5);border-radius:5px;box-shadow:3px 3px 5px rgba(0,0,0,0.1);padding:20px;margin:0 20px 20px 0;}
.adminContent_banner ul li:nth-child(5n) {margin:0 0 20px;}
.adminContent_banner ul li h4 {font-size:16px;color:#707070;border-bottom:1px solid #bababa;padding:0 0 10px 0;margin:0 0 10px 0;text-align:center;}
.adminContent_banner ul li h5 {font-size:18px;color:#111;}
.adminContent_banner ul li span {display:block;width:100%;border:1px solid #ddd;height:120px;margin:10px 0;background:#EAE6F2;}
.adminContent_banner ul li p {font-size:14px;}
.adminContent_banner_list_btn {margin:30px 0 0 0;text-align:center;}
.adminContent_banner_list_btn a {display:inline-block;width:80px;height:28px;line-height:28px;border-radius:5px;font-size:14px;margin:0;}


/* modal */
.adminModal {position:fixed;width:100%;min-height:900px;height:100%;top:0;left:0;background:rgba(0,0,0,0.4);z-index:9999;overflow:hidden;overflow-y: scroll;}
.adminModal_cont {position:absolute;width:1000px;padding:46px 36px;background:#fff;top:50%;left:50%;transform:translate(-50%, -50%);border-radius:10px;}
.adminModal_cont > div {margin:0 0 40px 0;}
.adminModal_cont h3 {color:#4E327B;text-align:center;margin:0 0 20px 0;font-size:24px;}
.adminModal_cont > div h3 {font-size:21px;color:#111;padding:0 0 16px 0;border-bottom:1px solid #bababa;margin:0 0 20px 0;}
.adminModal_cont_plusbtn {float:right;background:#EAE6F2;border-radius:5px;text-align:center;padding:0 22px;color:#4E327B;margin:0 0 26px 0;font-size:14px;height:26px;line-height:26px;}
.adminModal_cont_uploadbtn {display:inline-block;background:#4E327B;border-radius:5px;text-align:center;padding:0 22px;color:#fff;margin:0 0 26px 0;font-size:14px;height:26px;line-height:26px;}
.adminModal_cont_table {width:100%;}
.adminModal_cont_table th {color:#111;font-size:16px;font-weight:500;padding:10px 0;}
.adminModal_cont_table td {padding:5px 0;}
.adminModal_cont_table td a.plusbtn {background:#ddd;text-align:center;font-size:21px;line-height:28px;border-radius:5px;}
.adminModal_cont_table td span {display:block;background:#EAE6F2;font-size:16px;text-align:center;color:#111;padding:5px 0;margin:0 10px 0 0;}
.adminModal_cont_table td input {padding:0 10px;box-sizing:border-box;width:100%;}
.adminModal_cont_table td select {font-size:16px;font-family:inherit;}
.adminModal_cont_btn:after {content:"";display:block;clear:both;}
.adminModal_cont_btn {margin:60px 0 0 0 !important;}
.adminModal_cont_btn a {float:left;width:calc(( 100% - 10px ) /2);}
.adminModal_cont_btn a.back_btn {margin:0 10px 0 0;}

.adminModal_cont_btn_m {margin:60px 0 0 0 !important;}
.adminModal_cont_btn_m a {float:left;width:calc(( 100% - 10px ) /2);}
.adminModal_cont_btn_m a.back_btn {margin:0 10px 0 0;}

.modalBanner {margin:0 auto 60px;width:180px;height:40px;line-height:40px;background:#4E327B;color:#fff;text-align:center;border-radius:5px;font-size:16px;margin-top: 50px;}


.adminModal_ok {position:fixed;width:600px;padding:60px;background:#fff;top:50%;left:50%;transform:translate(-50%, -50%);border-radius:10px;}
.adminModal_ok h3 {text-align:center;color:#4E327B;}
.adminModal_ok_btn {margin:20px 0 0 0;}

.adminModal_order_table { border-top:1px solid #bababa;margin:20px 0 0 0;}
.adminModal_order_table th, .adminModal_order_table td {line-height:36px;padding:0 10px;}
.adminModal_order_table th { font-weight:400;color:#111;border-right:1px solid #bababa;text-align: left;padding: 1px 1px 1px 25px;}

.adminModal_category input[type="checkbox"] + label span {border:none;background:#fff;}
.adminModal_category_table th{vertical-align:top;border-right:1px solid #ddd;}
.adminModal_category_table td{line-height:30px;border-right:1px solid #ddd;padding:5px 20px;}
.adminModal_category_table td:last-child {border-right:none;}
.adminModal_category_table td.adminModal_category_table_2depth {padding:5px 40px;}
.adminModal_category_table td.adminModal_category_table_3depth {padding:5px 60px;}

.adminModal_category_plus {padding:0 40px;display:flex;margin:40px 0 60px !important;}
.adminModal_category_plus select {width:calc(( 100% - 20px ) /3);margin:0 20px 0 0;height:32px;line-height:32px;background:#EAE6F2;padding:0 10px;color:#818181;}
.adminModal_category_plus input {width:calc(( 100% - 20px ));margin:0 20px 0 0;height:32px;line-height:32px;background:#EAE6F2;padding:0 10px;color:#818181;}
.adminModal_category_btn {text-align:center;margin:60px 0 !important;}
.adminModal_category_btn a {display:inline-block;height:32px;line-height:32px;width:140px;background:#9e9e9e;color:#fff;text-align:center;margin:0 5px;border-radius:5px;}
.adminModal_category_btn a.on {background:#4E327B;}
.marketSell_payment a.on {background:#4E327B;color:white;}
.category_row {float : left; margin:10px; border-right:1px solid #bababa;width: 300px;padding-right: 200px;}
.category_row2 {padding:5px 10px;}
.category_1depth {padding:5px 5px 0 20px;}
.category_2depth {padding:5px 5px 0 40px;}
.category_3depth {padding:5px 5px 0 60px;}

.category_1depth > .top {font-weight:bold;color:#603A8A;}
.category_2depth > .top {font-weight:bold;color:#603A8A;}
.category_3depth > .top {color:#9C85B6}

.adminContent_graph {float:left; width:40%; /*margin: 50px 80px 0 100px;*/}
.adminContent_graph_wrap {width:auto; height:auto;}
#start_date {width:calc(( 100% -10px )/2.5);margin:50px 20px 50px 0;line-height:32px;color:#818181; z-index:99999;float:left;text-align:center;min-height: 400px;}
#end_date {width:calc(( 100% -10px )/2.5);margin:50px 20px 50px 0;line-height:32px;/* padding:0 10px; */color:#818181; z-index:99999;float:right;text-align:center;min-height: 400px;}
#start_date h5 {margin-bottom: 20px;}
#end_date h5 {margin-bottom: 20px;}
.datepickers-container {z-index:99999;}
.datepicker{ width: 100%; }
.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    background-color:#EAE6F2;
}
.ck-editor__editable { height: 300px; }
.admin_input2 {width:calc(( 95% -20px )) !important; margin:0 5px 0 0;height:32px;line-height:32px;background:#EAE6F2;padding:0 10px;color:#818181;}


.adminModal_invoice h5 {text-align:center;margin:0 0 10px 0;}
.adminModal_invoice input, .adminModal_invoice select {height: 45px;display:block;background:#EAE6F2;font-size:16px;text-align:center;color:#111;padding:5px 5px;margin:0 10px 0 0;width:100%;}
.adminModal_invoice > div > div {margin:20px 0;}

.adminModal_cs h5 {margin:0 0 10px 0;}
.adminModal_cs > div {margin: 0 0 40px 0;}
.adminModal_cs > div > div {background:#EAE6F2;border-radius:5px;padding:20px;}
.adminModal_cs_title {color:#4E327B; border-bottom:1px solid #bababa;padding:0 0 10px;margin:0 0 10px 0;}
.adminModal_cs_title:after{content:"";display:block;clear:both;}
.adminModal_cs_title h6 {float:left;font-size:16px;font-weight:500;}
.adminModal_cs_title p {display:inline-block;float:right;}
.adminModal_cs_title p span:first-child {position:relative;margin:0 20px;}
.adminModal_cs_title p span:first-child:before {content:"";width:1px;height:14px;position:absolute;right:-14px;top:5px;background:#4e327b;}
.adminModal_cs_cont {color:#707070;min-height:200px;}
.adminModal_cs_cont textarea {color:#707070;min-height:200px;resize:none;width:100%;font-family:inherit;border:none;background:none;outline:none;padding:10px;font-size:16px;}
.adminModal_cs_title input {font-size:16px;}

.adminModal_profit_top {display:flex;border-top:1px solid #bababa;width:100%;margin:30px 0;}
.adminModal_profit_top p {padding:20px; width:50%;text-align:center;font-weight: 600;}
.adminModal_profit_top p:first-child {border-right:1px solid #bababa;}
.adminModal_profit_table {margin: 0 0 40px 0;}
.adminModal_profit_table td {padding:2px;height: 43px;}
.adminModal_profit_table input, .adminModal_profit_table select {padding:0 20px;width:95%;height:32px;line-height:32px;background: #EAE6F2;box-sizing:border-box;text-align:left;}

.adminModal_date_select {text-align:center;margin:30px 0 40px;}
.adminModal_date_select select {padding:0 20px;width:calc( 98% / 3 );height:32px;line-height:32px;background: #EAE6F2;box-sizing:border-box;text-align:left;}
.adminModal_date_select_long select {width:100%;}

.modalBanner_table th, .modalBanner_table td {padding:5px;text-align:left;vertical-align:top;}
.modalBanner_table td:after {content:"";display:block;clear:both;}
.modalBanner_table td > div {float:left;width:50%;}
.modalBanner_table td > div:first-child {padding:0 20px 0 0;}
.modalBanner_table input, .modalBanner_table select {padding:0 20px;width:100%;height:32px;line-height:32px;background: #EAE6F2;box-sizing:border-box;text-align:left;}
.modalBanner_table td > div input, .modalBanner_table td > div select {width:30%;margin:0 2px 0 0;}


.marketDetail_fixbox_btn2 a{
	display: inline-block;
    width: calc(( 100% - 5px ) /2);
    height: 35px;
    line-height: 35px;
    color: #fff;
    font-size: 16px;
    background: #563b80;
    border-radius: 5px;
    text-align: center;
	margin : 10px 0 10px 0;
}

.option_div{
	width : 22%;
    margin: 0 10px 0 10px;
    line-height: 32px;
    padding: 0 10px;
    color: #818181;
	float :left;
}

.option_div p input {
	width : 180px;
	margin: 10px 5px 10px 0;
	padding: 10px;
	background: #EAE6F2;
	text-align:center;
}

.reason_radio{
	opacity:0;
	font-size:10px;
}

.reason_radio_label{
	font-size:13px;
}

.gray_btn{
	background-color: #BABABA !important;
}

.adminWrap_title_category {display:none;}
.adminContent_leftmenu_modify_m {display:none;}

@media (max-width: 1600px) {
	body{min-width:100%;width:100%;}

	.header_messageLine {/* display:none; */}

	.rightmenu {/* right:auto;left:-250px;;padding:30px 20px; */width:250px;}
	.adminWrap {/* width:100%;padding:0 30px; */}

	.admin_m_header {display:block;position:fixed;top:0;left:0;width:100%;height:40px;background:#fff;display:flex;}

	.adminContent_tab ul li {font-size:16px;margin:0 12px 0 0;}
	.adminContent_banner_list_btn a {width:40%;}

	.adminContent_graph {
		float: left;
		height : auto;
		margin: 0px 10px 0px 50px;
		
	}
	.adminWrap_title_category {display:none;}

    
}


@media (max-width: 1200px) {

	.adminContent_graph {
		float: none !important;
		height : auto;
		margin: 0px 10px 0px 50px !important;
		
	}

    .adminContent_graph2 {
		float: none !important;
		height : auto;
		margin: 0px 100px 0px 120px !important;
		
	}

    .adminContent_graph3 {
        margin: 200px auto !important;
    }

    .adminContent_graph4 {
        margin: 20px auto !important;
    }
}
@media (max-width: 640px) {

	.adminContent_graph2 {
		/* padding: 20px; */
		
	}

	.adminWrap {width:100%;padding:0 30px;}

	.adminContent_tab ul li {font-size:16px;margin:0 12px 0 0;}
	.adminContent_banner_list_btn a {width:40%;}
	.adminContent_leftmenu {display:none;}
	.header_messageLine {display:none;}


	.rightmenu {position:absolute;left:-280px;padding:30px 40px;right:auto;height:100vh;overflow:scroll;}
	.adminWrap {width:100%;padding:0;}
	.adminWrap_topmenu {display:none;}
	.adminWrap_title p {display:none;}
	.adminContent {width:100%;margin:0;}
	/* header */
	.admin_m_header {display:block;position:static;align-items: center; justify-content: space-between;box-sizing:border-box;padding:15px;height: 45px;cursor:pointer;}
	.admin_m_header:after {content:"";display:block;clear:both;}
	.admin_m_header > div {float:left;}
	.admin_m_header .ham {margin:0 10px 0 0;min-width: 15px;min-height: 15px;}
	.admin_m_header > a {float:left;}
	.admin_m_header div:first-child span {
        width: 14px;
        height: 2px;
        display: block;
        background: #4E327B;
        margin: 0 0 3px 0;
    }
	.admin_m_header div:last-child {float:right;width:150px;font-size:16px;text-align:center;background:url('../image/market_arrow_down.png') right center no-repeat;}
	.admin_m_header a img {
        width: 8px;
    }

	/* title */
	.adminWrap_title a {display:none;}
	.adminWrap_title {border:none;margin:0;background: #EAE6F2;padding:10px 15px;height:auto;justify-content: space-between;margin:0;display:block;}
	.adminWrap_title h3 {border-left:5px solid #4E327B;font-size:16px;text-align:left;}

	.adminWrap_title2 a {display:none;}
	.adminWrap_title2 {border:none;margin:0;background:#EAE6F2;padding: 0px 5px 20px;height:auto;justify-content: space-between;margin:0;display:block;}
	.adminWrap_title2 h3 {font-size:16px;text-align:left;}
	.adminWrap_title2 p {font-size:14px;text-align:left;padding:0 10px;font-weight: 700;}

	.adminContent_right {float:none;width:100%;padding:0;}
	.adminContent_tab {margin:0;padding:20px 15px;background:#EAE6F2;}
	.adminContent_tab ul {display:block;width:100%;}
	.adminContent_tab ul:after {content:"";display:block;clear:both;}
	.adminContent_tab ul li {width:calc(( 100% - 24px ) /3);float:left;background:#fff;height:110px;border-radius:20px;display:flex;}
	.adminContent_tab ul li:nth-child(n+4) {margin:12px 12px 0 0;}
	.adminContent_tab ul li:nth-child(3) {margin: 0;}
	.adminContent_tab ul li:nth-child(6) {margin:12px 0 0 0;}
	.adminContent_tab ul li a {display:block;width:100%;height:100%;padding: 24px 0;}
	.adminContent_tab ul li a span {font-size:24px;font-weight:600;display:block;}
	.adminContent_search {margin:0;padding:0 15px 20px 15px;background:#EAE6F2;}
	.adminContent_search input {background:url('../image/market_serch.png') no-repeat #fff;background-position:left 10px center;font-size:12px;}
	
	.adminContent_search2 {margin:0;padding:0 15px 20px 15px;background:#EAE6F2;}
	.adminContent_search2 input {background:#fff;background-position:left 10px center;font-size:12px;}

	.adminContent_search_long input {background:url('../image/market_serch.png') no-repeat #fff;background-position:left 10px center;font-size:12px;}
	.adminContent_tab ul li.active a {border:none;}

	.adminContent_table {width:920px;}
	.adminContent_table td {font-size:14px;padding:5px;word-break:keep-all;line-height:20px;}
	.adminContent_table th {font-size:14px;word-break:keep-all;line-height:20px;}

	.adminWrap_title_category {
        float: right;
        display: inline-block;
        font-size: 14px;
        font-weight: 300;
        color: #4E327B;
        border-bottom: 1px solid #4E327B;
        padding: 0 5px;
        cursor: pointer;
    }
	.adminContent_leftmenu {float:none;position:absolute;top:0;left:0;z-index:999;}
	.adminModal_cont {width:90%;}
	.admUserList .adminContent_tab{display:none;}
	.adminWrap_title_m:after {content:"";display:block;clear:both;}
	.adminWrap_title_m h3 {display:inline-block;    FONT-WEIGHT: 500;}

	.adminContent_date {float:none;width:100%;background:#EAE6F2;padding:10px;}
	.adminContent_date select {width:25%;background:#fff;}
	.adminContent_date_middle {z-index:10;margin:15px 0 0 15px;}
	a.btm_btn {margin:20px 8px 2px 2px}
	textarea {max-width:100%;}
	.adminContent_profit {margin:0;width:100%;padding:0 20px;text-align:left;}
	.adminContent_profit + .adminContent_search {margin:0;}
	.adminContent_order {padding:10px 20px; background:#EAE6F2;}
	.adminContent_date2 select {background:#fff;}

	.adminWrap p {margin:8px 0 0 !important;}
	.adminContent_graph {margin:0 !important;float:none;width:100%;height:auto !important;}

	.adminPageConpig .adminContent_search  {background:#fff;}
	.adminModal_category_plus select {width:20%;}

	.adminadminMain .adminContent_order {background:#fff;}
	.adminadminMain .adminContent_order {background:#fff;}
	.adminadminMain .adminModal_category_plus select {width:32%;}

	.adminModal_category_plus {padding:0;}
	.adminContent_graph_wrap {padding:0 15px;box-sizing:border-box;}
	.adminContent_graph_wrap .adminContent_table {width:100%;}

	.adminContent_date_middle {width:63px;}

	table td .adminContent_order {background:none;}


	.adminContent_leftmenu > ul > li > ul > li {font-size:14px;}


	.adminContent_drop_wrap {background: #EAE6F2;padding:0 0px 60px;}
	.adminContent_drop {border-radius:20px;background:#fff;padding:30px;box-sizing:border-box;}
	.adminContent_drop_title {display:flex;padding:10px 0;  justify-content: space-between;align-items: center;color:gray;}
	.adminContent_drop_1depth > .adminContent_drop_title {border-bottom:1px solid #ccc;cursor:pointer;}
	.adminContent_drop_2depth > div > .adminContent_drop_title {border-bottom:1px solid #ddd;}
	.adminContent_drop_title h4 {font-size:16px;line-height:28px;width:calc( 100% - 100px );background:url('../image/market_arrow_down.png') right center no-repeat;font-weight:600;}
	.adminContent_drop_title h5 {color: gray;} 
	.drop_toggle_on h4 {background:url('../image/market_arrow_up.png') right center no-repeat;color:black;}
	.adminContent_drop_title h5 {font-size:14px;line-height:28px;width:calc( 100% - 100px );background:url('../image/market_arrow_down.png') right center no-repeat;}
	.drop_toggle_on h5 {background:url('../image/market_arrow_up.png') right center no-repeat;color:black;}
	.adminContent_drop_title h6 {font-size:12px;line-height:28px;}
	.adminContent_drop_modi {display:inline-block;width:80px;height:28px;line-height:28px;background:#EAE6F2;color:#4E327B;text-align:center;cursor:pointer;}
	
	.adminContent_drop_3depth ul li {display:flex;padding:6px 0;  justify-content: space-between;align-items: center;}
	
	.adminContent_leftmenu_modify_m {display:block;}
	.adminContent_leftmenu_modify {display:none;}
	
	.adminModal_ok {position:fixed;width:80%;padding:60px;background:#fff;top:50%;left:50%;transform:translate(-50%, -50%);border-radius:10px;}
	.adminContent_banner ul li {float:left;width:45%;border-radius:5px;box-shadow:3px 3px 5px rgba(0,0,0,0.1);padding:20px;margin:0 20px 20px 0;}
	
	#start_date {width:100%;margin:0 20px 0 0;line-height:32px;color:#818181; z-index:99999;float:left;text-align:center;min-height: 400px;}
	#end_date {width:100%;margin:0 20px 0 0;line-height:32px;/* padding:0 10px; */color:#818181; z-index:99999;float:right;text-align:center;min-height: 400px;}
	
	.adminWrap_topmenu_m {display:block;}
}

@media screen and (min-width:768px) and (max-width: 1023px) {

	/* 테블릿 CSS */
	
}

@media screen and (max-width: 1900px) {

	.adminContent {width: 1900px;;padding:0 350px 0 0;}
	
}
@media screen and (max-width: 1600px) {

    /*.adminContent {width:1600px;padding:0 350px 0 0;}*/
	
}
@media screen and (max-width: 1500px) {

	.adminContent_table_div { width: 69%; overflow-x: auto;margin-top: 70px;}
	
}

@media screen and (max-width: 1330px) {

	.adminContent_table_div { width: 60%; overflow-x: auto;margin-top: 70px;}
	
}

@media screen and (max-width: 1150px) {

	.adminContent_table_div { width: 45%; overflow-x: auto;margin-top: 70px;}
	
}

@media screen and (max-width: 1000px) {

	.adminContent_table_div { width: 40%; overflow-x: auto;margin-top: 70px;}
	
}

@media screen and (max-width: 900px) {

	.adminContent_table_div { width: 35%; overflow-x: auto;margin-top: 70px;}
	
}

@media screen and (max-width: 800px) {

	.adminContent_table_div { width: 25%; overflow-x: auto;margin-top: 70px;}
	
}
.category_text {background-color:#EAE6F2; width: 120px;}

.ok_btn_cate {
	/* float: left; */
	display: inline-block;
    width: 25%;
    height: 35px;
    line-height: 35px;
    margin: 0 5px 5px 5px;
    text-align: Center;
    border-radius: 10px;
    background: #532493;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.s_date {margin-right: 20px;font-weight: 500;}
.e_date {margin-left: 20px;font-weight: 500;}


.datepicker-inline {/*width: 307px;height: 269px;*/}



@media screen and (hover: none) and (pointer: coarse) {
    .adminContent {
        width: 100% !important;
        padding: 0 0 0 0 !important;
    }
    .adminWrap_topmenu ul li {
        font-size: 13px;
    }

    .adminModal_ok {
        width: 100% !important;
        height: 100%;
        overflow-y: auto;
    }
    .modi_domae_mem {
        margin: 0px !important;
    }
    .m_btn {
        width: 60px !important;
    }

    .adminContent_table_div {
        width: 100%;
        overflow-x: auto;
        /* margin-top: 70px; */
        padding: 0px 40px !important;
        margin-top: 0px !important;

    }

    .adminContent_search {
        margin: 0;
        padding: 0 15px 20px 15px;
        background: #EAE6F2 !important;
        margin-bottom: 10px;
        bottom: 260px;
        position: relative;
    }
    .adminContent_search input {
        width: 77% !important;
        padding: 0;
        border-radius: 5px;
        padding-left: 7px;
    }
    .adminContent_search_short input {
        width: 50% !important;
        padding: 0;
    }
    .adminModal_cont {
        width: 100%;
        height: 1000px;
        padding: 35px;
        overflow-y: auto;
    }
    .adminModal_cont_btn {
        margin: 60px 0 60px 0 !important;
    }
    a.check_btn {
        float: right;
        width: 56px;
        height: 29px;
        line-height: 29px;
        border-radius: 5px;
        background: #4E327B;
        text-align: center;
        color: #fff;
        margin: 2px 8px 2px 2px;
        font-size: 14px;
        font-weight: 200;
    }

    .adminContent_order a {
        float: right;
        width: 60px;
        height: 32px;
        line-height: 32px;
        border-radius: 5px;
        background: #4E327B;
        text-align: center;
        color: #fff;
        margin: 2px 8px 2px 2px;
        font-size: 12px;
        font-weight: 300;
    }
    .adminContent_date_middle {
        display: none;
    }
    .adminContent_tab ul li {
        width: calc(( 100% - 24px ) /3);
        float: left;
        background: #fff;
        height: 102px !important;
        border-radius: 8px;
        display: flex;
        line-height: 10px;
        font-weight: 400;
    }
    .adminContent_tab ul li a span {
        font-weight: 400;
        font-size: 16px;
        bottom: 40px;
        position: relative;
    }

    .adminContent_date {
        /*position: relative;
        bottom: 11px !important;*/
        width: 100%;
        float: left;
        bottom: 320px;
        position: relative;
        padding-left: 16px;
    }
    .adminContent_search_long input {
        background: white;
        background-position: left 10px center;
        font-size: 12px;
        margin-top: 2px;
        height: 29px;
    }
    .adminContent_tab {
        margin: 0;
        padding: 20px 15px;
        background: #EDEBF4;
        top: 56px;
        position: relative;
        height: 364px;
    }

    .adminContent_search2 {
        margin: 0;
        padding: 0 15px 20px 15px;
        background: #EDEBF4 !important;
        margin-bottom: 10px;
        bottom: 139px;
        position: relative;
    }

    .adminContent_tab2 {
        margin: 0;
        padding: 20px 15px;
        background: #EDEBF4;
        top: 36px;
        position: relative;
        height: 139px;
    }

    .adminContent_tab ul li a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 24px 0;
        top: 40px;
        position: relative;
    }

    .adminContent_date select {
        width: 31%;
        background: #fff;
    }
    .adminWrap_title h3 {
        border-left: 8px solid #4E327B;
        font-size: 16px;
        text-align: left;
        color: black;
        letter-spacing: 0px;
        font-weight: 500;
    }
    .adminContent_tab ul li.active a {
        border: none;
        font-size: 12px;
    }

    .adminContent_search_m{
        bottom: 100px;
        height: 55px;
        background-color: transparent !important;
    }

    .adminContent_date3{
        bottom: 360px;
    }

    .adminContent_date4{
        bottom: 494px;
    }

    .adminContent_tab3 {
        margin: 0;
        padding: 20px 15px;
        background: #EDEBF4;
        top: 130px;
        position: relative;
        height: 333px;
    }

    .adminContent_tab4 {
        height: 478px;
        top: 151px;
    }

    .adminContent_date5 {
        width: 100%;
        float: left;
        bottom: 286px;
        position: relative;
        padding-left: 16px;
    }

    .adminContent_tab5 {
        margin: 0;
        padding: 20px 15px;
        background: #EDEBF4;
        top: 135px;
        position: relative;
        height: 260px;
    }

    .adminContent_search6 {
        margin: 0;
        padding: 0 15px 20px 15px;
        background: #EDEBF4 !important;
        margin-bottom: 10px;
        bottom: 310px;
        position: relative;
    }
    .search_profit{width: 77% !important;}

    .adminContent_date6 {
        width: 100%;
        float: left;
        bottom: 283px;
        position: relative;
        padding-left: 16px;
    }

    .adminContent_tab6 {
        margin: 0;
        padding: 20px 15px;
        background: #EDEBF4;
        top: 126px;
        position: relative;
        height: 255px;
    }

    .adminContent_search6 {
        margin: 0;
        padding: 0 15px 20px 15px;
        background: #EDEBF4 !important;
        margin-bottom: 10px;
        bottom: 255px;
        position: relative;
    }

    .adminContent_tab6 ul li {
        width: calc(( 100% - 24px ) /3);
        float: left;
        background: #fff;
        height: 102px !important;
        border-radius: 8px;
        display: flex;
        line-height: 0px;
        font-weight: 400;
        font-size: 12px;
    }

    .adminContent_date_hidden {display: none;}

    .totalAmountBottom {
        float: left !important;
        font-size: 14px !important;
        line-height: 128px !important;
        font-weight: 500 !important;
        margin-top: 0px !important; 
        margin-right: 0px !important;
    }

    .adminContent_tab7 ul li {
        width: calc(( 100% - 24px ) /3);
        float: left;
        background: #fff;
        height: 102px !important;
        border-radius: 8px;
        display: flex;
        line-height: 0px;
        font-weight: 400;
        font-size: 12px;
    }

    .adminContent_tab7 {
        margin: 0;
        padding: 20px 15px;
        background: #EDEBF4;
        top: 126px;
        position: relative;
        height: 328px;
    }

    .adminContent_search7 {
        margin: 0;
        padding: 0 15px 20px 15px;
        background: #EDEBF4 !important;
        margin-bottom: 10px;
        bottom: 328px;
        position: relative;
    }

    .adminContent_date7 {
        width: 100%;
        float: left;
        bottom: 357px;
        position: relative;
        padding-left: 16px;
    }

    .bottom_btn {
        position: relative;
        bottom: 25px;
        height: 0px; 
        top: -109px;
        background: transparent;
    }

    .adminContent_search8 {
        margin: 0;
        padding: 0 15px 20px 15px;
        background: #EDEBF4 !important;
        margin-bottom: 10px;
        bottom: 380px;
        position: relative;
    }

    .adminContent_date8 {
        width: 100%;
        float: left;
        bottom: 399px;
        position: relative;
        padding-left: 16px;
    }

    .bottom_btn2 {
        position: relative;
        bottom: 25px;
        height: 0px;
        top: -147px;
        background: transparent;
    }

    .adminContent_date9 {
        width: 100%;
        float: left;
        bottom: 249px;
        position: relative;
        padding-left: 16px;
    }

    .adminContent_tab9 {
        margin: 0;
        padding: 20px 15px;
        background: #EDEBF4;
        top: 92px;
        position: relative;
        height: 182px;
    }

    .adminContent_tab10 {
        margin: 0;
        padding: 20px 15px;
        background: #EDEBF4;
        top: 0px;
        position: relative;
        height: 140px;
    }

    .adminContent_graph {
        padding: 24px;
    }
    .adminContent_date11 {
        width: 100%;
        float: left;
        bottom: 240px;
        position: relative;
        padding-left: 16px;
    }

    .adminContent_tab11 {
        margin: 0;
        padding: 20px 15px;
        background: #EDEBF4;
        top: 95px;
        position: relative;
        height: 177px;
    }

    .adminContent_search66 {
        margin: 0;
        padding: 0 15px 20px 15px;
        background: #EDEBF4 !important;
        margin-bottom: 10px;
        bottom: 333px;
        position: relative;
    }

    .adminContent_tab ul li a {
        border: none;
        font-size: 12px;
    }

    .m_logo_img {
        width: 12px !important;
        margin-left: 11px;
        top: -2px;
        position: relative;
    }

    .adminContent_tab_ready ul li a span {
        font-weight: 400;
        font-size: 19px;
        bottom: 30px;
        position: relative;
        right: 26px;
    }
    .adminModal_order {
        width: 50% !important;
    }

    .admin_m_header div:last-child {
        float: right;
        width: 100px;
        font-size: 12px;
        text-align: center;
        background: none;
        padding-left: 40px;
    }

    .admin_m_header div:last-child span {
        color: #603A8A;
    }

    .adminContent_search input::placeholder {
        font-size: 14px;
    }

    .adminContent_search11 {
        margin: 0;
        padding: 0 15px 20px 15px;
        background: #EAE6F2 !important;
        margin-bottom: 10px;
        bottom: 364px;
        position: relative;
    }
    .adminContent_tab11 {
        margin: 0;
        padding: 20px 15px;
        background: #EDEBF4;
        top: 37px;
        position: relative;
        height: 364px;
    }

    .adminContent_tab12 {
        height: 144px;
        top: 53px;
    }
    .adminContent_search12 {
        margin: 0;
        padding: 0 15px 20px 15px;
        background: #EAE6F2 !important;
        margin-bottom: 10px;
        bottom: 144px;
        position: relative;
    }

    .adminContent_search13 {
        margin: 0;
        padding: 0 15px 20px 15px;
        background: #EAE6F2 !important;
        margin-bottom: 10px;
        bottom: 0px;
        position: relative;
    }

    .adminContent_search14 {
        margin: 0;
        padding: 0 15px 20px 15px;
        background: #EAE6F2 !important;
        margin-bottom: 10px;
        bottom: 140px;
        position: relative;
    }

    .adminContent_tab14 {
        margin: 0;
        padding: 20px 15px;
        background: #EDEBF4;
        top: 38px;
        position: relative;
        height: 140px;
    }

    .middle_line_m {display: none;}

    .adminContent_tab15 {
        margin: 0;
        padding: 20px 15px;
        background: #EDEBF4;
        top: 90px;
        position: relative;
        height: 140px;
    }
    .adminContent_date15{
        width: 100%;
        float: left;
        bottom: 200px;
        position: relative;
        padding-left: 16px;
    }

    .adminContent_table {
        margin: 0 0 0 0;
    }

    a.check_btn_long {
        width: 46%;
        height: 38px;
        line-height: 38px;
        font-size: 16px;
        font-weight: 300;
        margin: -7px 8px 2px 2px;
    }

    a.check_btn_long2 {
        width: 30%;
        height: 38px;
        line-height: 38px;
        font-size: 16px;
        font-weight: 300;
        margin: -7px 8px 2px 2px;
    }

    .adminWrap_title h3 {
        margin: 0 0px;
    }
    .adminContent_search_category {
        margin: 0;
        padding: 0 15px 20px 15px;
        background: #EAE6F2 !important;
        margin-bottom: 10px;
        bottom: 11px;
        position: relative;
    }
    a.check_btn2 {
        float: right;
        width: 106px;
        height: 37px;
        line-height: 37px;
        border-radius: 5px;
        background: #4E327B;
        text-align: center;
        color: #fff;
        margin: 8px 8px 2px 2px;
    }
    .adminModal_cont_btn_m a {
        float: left;
        width: 131px;
        height: 38px;
        margin : 0 auto;
    }
    .adminModal_cont_btn_m {
        margin: 0 0 0 0 !important;
        justify-content: center;
        display: flex;
    }
    .adminModal_cont_btn_m a {
        margin: 0 10px 0 0;
        line-height: 36px;
        font-size: 17px;
    }

    .adminModal_ok_btn{
        justify-content: center;
        display: flex;
    }
    .title_middle_m {
        top: 20px !important;
    }

    .adminCotent_parent {
        width: 100% !important;
        height: 800px;
    }
    .adminContent_table_div {
        width: 100% !important;
    }
    .adminContent_graph3{
        /* text-align: center; */
    }
    .width100{
        width: 100% !important;
    }
    .user_modal_date_m{
        width: 29% !important;
    }
    .adminContent_search44 {
        margin: 0;
        padding: 0 15px 20px 15px;
        background: #EAE6F2 !important;
        margin-bottom: 10px;
        bottom: 478px;
        position: relative;
    }
    .adminContent_tab3_seller {
        margin: 0;
        padding: 20px 15px;
        background: #EDEBF4;
        top: 130px;
        position: relative;
        height: 256px;
    }
    .adminContent_date3_seller {
        bottom: 280px;
    }
    .adminContent_search66_seller {
        margin: 0;
        padding: 0 15px 20px 15px;
        background: #EDEBF4 !important;
        margin-bottom: 10px;
        bottom: 256px;
        position: relative;
    }
    .adminContent_tab4_seller {
        height: 367px;
        top: 151px;
    }
    .adminContent_date4_seller {
        bottom: 378px;
    }

    .adminContent_search44_seller {
        margin: 0;
        padding: 0 15px 20px 15px;
        background: #EAE6F2 !important;
        margin-bottom: 10px;
        bottom: 367px;
        position: relative;
    }
    .adminContent_tab6_seller {
        margin: 0;
        padding: 20px 15px;
        background: #EDEBF4;
        top: 127px;
        position: relative;
        height: 320px;
    }
    .adminModal_profit_top p {
        font-size: 14px;
    }
    .adminModal_profit_top {
        border-top: none;
    }

    .seller_btn_m {display: none;}

    .adminContent_search77_seller {
        margin: 0;
        padding: 0 15px 20px 15px;
        background: #EAE6F2 !important;
        margin-bottom: 10px;
        bottom: 320px;
        position: relative;
    }

    .adminContent_date77_seller {
        width: 100%;
        float: left;
        bottom: 345px;
        position: relative;
        padding-left: 16px;
    }
    a.check_btn_long3 {
        width: 100%;
        height: 38px;
        line-height: 38px;
        font-size: 16px;
        font-weight: 300;
        margin: 10px 0;
    }
    .seller_btn_m_view {display: block !important;}
    .modalBanner_table th, .modalBanner_table td {
        padding: 5px;
        text-align: left;
        vertical-align: top;
        font-size: 10px;
    }
    #start_date > h5 {font-size: 10px;}
    #end_date > h5 {font-size: 10px;}
    .adminContent_banner {padding: 50px;}

    .adminContent_tab5_domae {
        margin: 0;
        padding: 20px 15px;
        background: #EDEBF4;
        top: 135px;
        position: relative;
        height: 327px;
    }

    .adminContent_search5_domae {
        bottom: 327px;
    }

    .adminContent_date5_domae {
        width: 100%;
        float: left;
        bottom: 344px;
        position: relative;
        padding-left: 16px;
    }
    .adminContent_tab6_domae {
        margin: 0;
        padding: 20px 15px;
        background: #EDEBF4;
        top: 140px;
        position: relative;
        height: 210px;
    }

    .adminContent_date77_domae {
        width: 100%;
        float: left;
        bottom: 235px;
        position: relative;
        padding-left: 16px;
    }

    .adminContent_search77_domae {
        margin: 0;
        padding: 0 15px 20px 15px;
        background: #EAE6F2 !important;
        margin-bottom: 10px;
        bottom: 210px;
        position: relative;
    }

    .adminContent_tab11_domae {
        margin: 0;
        padding: 20px 15px;
        background: #EDEBF4;
        top: 35px;
        position: relative;
        height: 193px;
    }
    .adminContent_search11_domae {
        margin: 0;
        padding: 0 15px 20px 15px;
        background: #EAE6F2 !important;
        margin-bottom: 10px;
        bottom: 193px;
        position: relative;
    }
    .adminContent_search_m_domae {
        bottom: 94px;
        height: 55px;
        background-color: transparent !important;
    }
    .adminContent {
        height: 1200px;
    }
    .ck.ck-editor {
        position: relative;
        width: 300px !important;
    }
    .modalBanner_table input, .modalBanner_table select {
        width: 93%;
    }
    .adminModal_cont_inquiry {
        height: 100%;
    }
    .adminModal_cont_inquiry h5 {font-size: 12px; margin-bottom: 0px !important;}
    .adminModal_cont_inquiry p {font-size: 12px !important;}
    .adminModal_cont_inquiry tr {height: 30px !important;}

    .adminModal_profit {
        width: 84% !important;
        height: 84% !important;
        padding: 30px;
    }

    .adminModal_ok h3 {
        border-bottom: none;
    }
    .adminContent_search_stanby input{
        background-color: white;
    }

    .adminContent_search_stanby {
        padding: 15px 15px 20px 15px;
    }
    #end_date {
        margin: 0 0px 0 0;
    }
    .option_div p input {
        width: 90px;
        margin: 5px 5px 5px 5px;
        padding: 6px;
        background: #EAE6F2;
        text-align: center;
        font-size: 12px;
    }
    .option_div a {width: 100px;}

    .adminModal_cont_btn a {
        font-size: 15px;
        font-weight: 400;
        height: 38px;
        line-height: 38px;
    }
    .option_div {
        margin: 0;
        padding: 0;
        width: 30%;
    }
    .adminContent b {padding: 30px;}

    .test_top_menu_m {margin: 0 5px 0 5px;}
}

.seller_btn_m_view {display: none;}