.marketContainer {position: relative;width:375px;margin: 0 auto;background: #fff;overflow: hidden;}

/* header */
.marketHeader {position:relative;padding: 30px 20px 0;display:flex;justify-content: space-between;;align-items: center;height:92px;}
.marketHeader_serch {position: relative;width:211px;height:17px;}
.marketHeader_serch input[type="text"]{width:211px;height:17px;background: #E9E6F1;outline:none;border:none;}
.marketHeader_serch button {position: absolute;right:4.18px;top:2px;z-index:10;cursor:pointer;}
.marketHeader h2 {width:211px;text-align: center;color: #563B80;font-weight: 500;font-size: 16px;}
.marketMemberHeader h2 {width: calc( 100% - 10px);}
.marketHeader_mypage_menu {position: absolute;width:253px;height:100vh;right:-300px;top:0;background: #fff;padding:50px 0;z-index: 999;}
.marketHeader_mypage_menu_close {cursor:pointer;padding:0 16px;}
.marketHeader_mypage_menu_top {text-align: right;padding:0 16px;}
.marketHeader_mypage_menu_top h5 {color: #563B80; font-weight: 500;}
.marketHeader_mypage_menu_top_profile {display:block;width:56px;height:56px;background: url('../image/market_profile_noimg.png') center center no-repeat;border-radius: 50%;margin:0 0 11px auto;}
.marketHeader_mypage_menu_list {padding:16px 0 56px;margin:17px 0 28px;border-top:1px solid #EAE6F2;border-bottom:1px solid #EAE6F2;}
.marketHeader_mypage_menu_list li {line-height:42px;font-size: 14px;font-weight: 500;text-align: right;padding:0 16px;color: #563B80;}
.marketHeader_mypage_menu_list li a{width:100%;color: #563B80;}
.marketHeader_mypage_menu_logout li {line-height:42px;font-size: 14px;font-weight: 500;text-align: right;padding:0 16px;color: #563B80;}

.marketHeader_ham_menu {position: absolute;width:253px;height:100vh;right:-300px;top:0;background: #fff;padding:50px 0;z-index: 999;}
.marketHeader_ham_menu_close {cursor:pointer;padding:0 16px;}
.marketHeader_ham_menu_list li {border-bottom:1px solid #EAE6F2;line-height:42px;font-size: 14px;font-weight: 500;text-align: right;color: #563B80;}
.marketHeader_ham_menu_list li a.arrow {background:url('../image/market_arrow_p.png') no-repeat;background-position: right 13px center;}
.marketHeader_ham_menu_list li a.arrow_down {background:url('../image/market_arrow_p_down.png') no-repeat;background-position: right 13px center;}
.marketHeader_ham_menu_list li a{width:100%;color: #563B80;padding:0 35px;}

.marketContent {min-height:100%;}
.marketContent h3 {font-size: 16px;font-weight: 400;/*border-bottom: 1px solid #BABABA;*/    line-height: 24px;
    padding: 0 0 6px;
    /*margin: 0 0 18px;*/}
.marketContent h4 {font-size: 16px;font-weight: 500;}
.marketContent h5 {font-size: 12px;font-weight: 400;}
.marketContent p {font-size: 10px;font-weight: 400;color: #000;white-space: normal;}
.marketContent .co777 {color:#707070;}
.marketContent .tac {text-align: center;}
.marketContent a.ok_btn {display:block;width:100%;height:45px;line-height:45px;text-align:Center;border-radius: 5px;background: #563b80;color:#fff;font-size: 16px;font-weight: 400;}
.marketContent a.back_btn {display:block;width:100%;height:45px;line-height:45px;margin:0 0 5px 0;text-align:Center;border-radius: 5px;border:1px solid #563b80;color:#563b80;font-size: 16px;font-weight: 400;}

.co777.on {color:#563B80;font-weight: 600;}

/*main*/
#mainvisual {width:100%;height:140px;background: #EAE6F2;}
.marketMain {margin-top: 22px;padding:0 17px;}
.marketMain .marketMain_title {border-bottom: 1px solid #E9E6F1;margin-bottom:12px;}
.marketMain .marketMain_title h3 {font-weight: 700;line-height:31px;color: #563B80;}
.marketMain_best {margin-bottom: 14px;}
.marketMain_best ul {display:flex;text-align:center;/* justify-content: space-between; */overflow: auto;  white-space: nowrap;-ms-overflow-style: none;}
.marketMain_best ul::-webkit-scrollbar {display: none;
    width: 0 !important;}
.marketMain_best ul li {width:25%;margin-right: 25px;}
.marketMain_best ul li a {width:100%;height:100%;text-align:center;}
.marketMain_best ul li .marketMain_best_thumb {display:block;width: 64px;height: 64px;background-position:center center;background-size:cover;margin:0 auto 10px;}
.marketMain_best ul li:nth-child(1) .marketMain_best_thumb {background:url('../image/market_q01.png') no-repeat;}
.marketMain_best ul li:nth-child(2) .marketMain_best_thumb {background:url('../image/market_q02.png') no-repeat;}
.marketMain_best ul li:nth-child(3) .marketMain_best_thumb {background:url('../image/market_q03.png') no-repeat;}
.marketMain_best ul li:nth-child(4) .marketMain_best_thumb {background:url('../image/market_q01.png') no-repeat;}

.marketMain_all > div {display:flex;justify-content:space-between;align-items: center;}
.marketMain_all > div select {border:none;font-size:14px;height:19px;}
.marketMain_all ul:after {content: "";display: block;clear:both;}
.marketMain_all ul li {float:left;width:calc(( 100% - 9px ) /2);margin:0 9px 10px 0;}
.marketMain_all ul li:nth-child(2n) {margin:0 0 10px;}
.marketMain_all ul li a {width:100%;}
.marketMain_all ul li .marketMain_all_thumb {display: block;width:100%;height:155px;background-position:center center;background-size:cover;}
.marketMain_all ul li:nth-child(1) .marketMain_all_thumb {background:url('../image/market_img01.png') no-repeat; background-size:cover;}
.marketMain_all ul li:nth-child(2) .marketMain_all_thumb {background:url('../image/market_img02.png') no-repeat; background-size:cover;}
.marketMain_all ul li:nth-child(3) .marketMain_all_thumb {background:url('../image/market_img03.png') no-repeat; background-size:cover;}
.marketMain_all ul li:nth-child(4) .marketMain_all_thumb {background:url('../image/market_img04.png') no-repeat; background-size:cover;}
.marketMain_all ul li p{color: #707070;line-height:13px;}
.marketMain_all ul li p.marketMain_all_text{margin: 5px 0 15px;min-height: 30px;}


/*상세페이지*/
.marketDetail {position:relative;width:100%;padding:0 0 88px;}
.marketDetail_fixbox {position:fixed;bottom:0;left:50%;transform:translate(-50%,0);width:375px;height:auto;box-shadow: 0 3px 6px rgba(0,0,0,0.1);background: #fff;z-index:999;}
.marketDetail_fixbox a.marketDetail_fixbox_up {display:block;width:100%;text-align:center;background:#fff;padding:15px 18px;border-top-left-radius: 10px;border-top-right-radius: 10px;background:url('../image/market_arrow_p.png') center center no-repeat #fff;}
.marketDetail_fixbox a.active {background:url('../image/market_arrow_p_down.png') center center no-repeat #EAE6F2;}
.marketDetail_fixbox .marketDetail_fixbox_btn {padding:15px 18px;}
.marketDetail_fixbox .marketDetail_fixbox_btn a {display:inline-block;width:calc(( 100% - 5px ) /2);height:45px;line-height:45px;color:#fff;font-size:16px;background:#563b80;border-radius: 5px;text-align: center;}
.marketDetail_fixbox_up_box {background:#EAE6F2;border-top-left-radius: 10px;border-top-right-radius: 10px;} 
.marketDetail_fixbox_show > ul {padding:10px 18px;} .marketDetail_fixbox_show > ul > li {line-height:40px;font-size: 14px;font-weight: 500;background:url('../image/market_fixbox_arrow.png') no-repeat #fff;background-position:right 12px top 18px;margin:0 0 5px 0;cursor:pointer;}
.marketDetail_fixbox_show > ul > li h4 {padding:0 16px;}
.marketDetail_fixbox_show > ul > li.active {background:url('../image/market_fixbox_arrow_up.png') no-repeat;background-position:right 12px top 18px;}
.marketDetail_fixbox_show > ul > li > ul > li {line-height:40px;font-size:14px;font-weight:400;border-bottom:1px solid #E4E4E4;background:#fff;padding:0 16px;}
.marketDetail_fixbox_show > ul > li > ul > li:last-child {border-bottom:none;}
.marketDetail_fixbox_up_box_price {display:flex;padding:15px 18px;justify-content: space-between;align-items: center;}
.marketDetail_fixbox_up_box_price p {font-size: 14px;}
.marketDetail_fixbox_up_box_price h4 span {font-size: 16px;font-weight: 500;color: #563B80;}

.marketDetail_mainImg {height: 375px;;background: url('../image/product01.png') center center no-repeat;background-size:cover; margin: 0 0 50px;}
.marketDetail_con {padding:0 18px;}
.marketDetail_con_top h3 {color: #000;line-height: 24px;border-bottom:1px solid #BABABA; padding: 0 0 5px;margin: 0 0 15px;}
.marketDetail_con_top table th {width: 71px;font-size:14px;text-align: left;vertical-align:top;line-height:25px;font-weight: 400;}
.marketDetail_con_top table td {font-size: 14px;line-height:25px;}
.marketDetail_con_top table td select {font-size: 12px;}
.marketDetail_con_top table .marketDetail_top_price {height:31px;}

.marketDetail_con_mid {margin:37px 0 0;}
.marketDetail_con_mid ul.marketDetail_con_mid_tab {display:flex;margin:0 0 25px;}
.marketDetail_con_mid ul.marketDetail_con_mid_tab li {width:calc( 100% / 3);text-align:center;border-bottom:1px solid #BABABA;font-size: 14px;line-height: 25px;padding:0 0 4px;cursor:pointer;}
.marketDetail_con_mid ul.marketDetail_con_mid_tab li.active {border-bottom:3px solid #5A3E86;}
.marketDetail_con_mid .marketDetail_con_box01_info_title {margin:0 0 17px;}
.marketDetail_con_box_text p {font-size: 14px;}
.marketDetail_con_box_text img{max-width:100%;}
.marketDetail_con_box_text span{display:block;text-align:center;}

.marketDetail_con_btm {margin-top: 64px;}
.marketDetail_con_btm ul li {padding: 17px 0;border-top: 1px solid #BABABA;font-size:14px;background: url('../image/market_arrow_down.png') no-repeat;background-position:right top 26px;}
.marketDetail_con_btm ul li.slide {background: url('../image/market_arrow_up.png') no-repeat;background-position:right top 26px;}
.marketDetail_con_btm ul li:last-child {border-bottom: 1px solid #BABABA;}
.marketDetail_con_btm ul li.marketDetail_con_btm_price {background:none;}
.marketDetail_con_btm_price table th {text-align: left;font-size: 14px;font-weight: 400;}
.marketDetail_con_btm_price table td {text-align : right;font-size: 14px;font-weight: 400;}
.marketDetail_con_btm ul li div {display:none;margin: 17px 0 0;padding:14px 0 0;border-top: 1px solid #BABABA;font-size: 14px;color: #707070;line-height: 20px;}



/*장바구니*/
.marketCart {min-height:100vh;padding:0 19px;    margin-bottom: 200px;}
.marketCart > h3 {border-bottom:1px solid #BABABA;line-height:24px;padding:0 0 6px;margin:0 0 18px;    font-weight: 600;}
.marketCart input[type="checkbox"]{ 
	position:absolute; 
    width:1px; 
    height:1px; 
    padding:0; 
    margin:-1px; 
    overflow:hidden; 
    clip:rect(0,0,0,0); 
    border:0; 
}
.marketCart input[type="checkbox"] + label{ 
	display:inline-block; 
    position:relative; 
    padding-left:26px; 
    cursor:pointer; 
}
.marketCart input[type="checkbox"] + label:before{ 
	content:''; 
    position:absolute; 
    left:0; 
    top:3px; 
    width:18px; 
    height:18px; 
    text-align:center; 
    background:#fff; 
	box-shadow: 2px 2px 2px #0000001A;
    box-sizing:border-box; 
}
.marketCart input[type="checkbox"] + label span {position:absolute;top:6px;left:3px;width:12px;height:12px;border:1px solid #BABABA;}

/* 보여질 부분의 스타일을 추가하면 된다. */
.marketCart input[type="checkbox"]:checked + label:after{ 
	content: ''; 
    position:absolute; 
    top:6px; 
    left:3px; 
    width:12px; 
    height:12px; 
    background-color:#af9cc4;
}

.marketCart_list li {margin:0 0 46px;}
.marketCart_list li:after {content: "";display:block;clear:both;}
.marketCart_list .marketCart_list_check {position:relative;width: 18px;margin: 0 13px 0 0;}
.marketCart_list .marketCart_list_thumb {float:left;display:block;width:109px;height:109px;background:#EAE6F2;margin: 0 0 0 26px;}
.marketCart_list .marketCart_list_text {float:right;width:calc( 100% - 135px);padding:0 0 0 12px;}
.marketCart_list .marketCart_list_text p {font-size: 14px;line-height:20px;}
.marketCart_list .marketCart_list_text p.marketCart_list_text01 {padding:0 0 6px;border-bottom: 1px solid #EAE6F2;margin-bottom: 6px;}
.marketCart_list .marketCart_list_text p.marketCart_list_text03 span {display:inline-block;line-height:13px;padding:5px;}
.marketCart_list .marketCart_list_text p.marketCart_list_text03 span.marketCart_list_text03_price {padding: 0 5px 0 0;border-right:1px solid #000;}
.marketCart_list .marketCart_list_text p.marketCart_list_text04 {font-size:14px;color:#603A8A;    color: #603A8A; margin-top: 5px;}
.marketCart_list .marketCart_list_text_btnbox {display:flex;margin:10px 0 0 0;}
.marketCart_list .marketCart_list_text_btnbox button {width:25px;height:25px;border:1px solid #563B80;border-radius: 3px;text-align:center;color: #563B80;font-size: 18px;cursor:pointer;}
.marketCart_list .marketCart_list_text_btnbox a {width:77px;height:25px;border:1px solid #563B80;border-radius: 3px;text-align:center;color: #563B80;font-size: 12px;cursor:pointer;line-height:22px;margin:0 0 0 8px;}
.marketCart_list .marketCart_list_text_btnbox p{margin: 0 8px;}
.marketCart_fix {position:fixed;width:375px;bottom:0;left:50%;transform: translate(-50%,0);padding:21px 19px !important;background:#fff;}



/*주문결제*/
.marketSell {padding:0 19px 78px;}
.marketSell > div {padding:24px 0;border-bottom:1px solid #BABABA;}
.marketSell > div:first-child {padding:0 0 24px 0;}
.marketSell th {font-size: 14px;font-weight: 400;text-align: left; line-height:30px;}
.marketSell td {font-size: 13px;font-weight: 400;text-align: left; line-height:30px;color:#5A3E86;}

.marketSell2 {padding:0 19px 78px;}
.marketSell2 > div {padding:24px 0;border-bottom:1px solid #BABABA;}
.marketSell2 > div:first-child {padding:0 0 24px 0;}
.marketSell2 th {font-size: 14px;font-weight: 400;text-align: left; line-height:30px;}
.marketSell2 td {font-size: 14px;font-weight: 400;text-align: left; line-height:30px;color:#5A3E86;}
.marketSell2 input {background: #EAE6F2;}

.marketSell_top h3 {font-weight: 500;background:url('../image/market_arrow_up.png') right center no-repeat;border-bottom:1px solid #BABABA;line-height:32px;cursor:pointer;margin:0 0 24px 0;}
.marketSell_top_list li:after {content:"";display:block;clear:both;}
.marketSell_top_list li {margin:0 0 55px 0;}
.marketSell_top_list li:last-child {margin:0;}
.marketSell_top_list_thumb {float:left;display:block;width:119px;height:112px;background: #EAE6F2;}
.marketSell_top_list_table {float:right;width:calc( 100% - 136px );margin:0 0 0 17px;}
.marketSell_top_list_table th {width:62px;}
.marketSell_top_list_table_option {display:inline-block;width:77px;height:25px;border:1px solid #563B80;border-radius: 3px;text-align:center;color: #563B80;font-size: 12px;cursor:pointer;line-height:22px;margin:0 0 0 8px;}
.marketSell_top_list_table button {width:25px;height:25px;border:1px solid #563B80;border-radius: 3px;text-align:center;color: #563B80;font-size: 18px;cursor:pointer;margin-left:8px;margin-top : 5px;}
.marketSell_top_list_table button:first-child {margin:0 0 0 8px;}
.marketSell_pri h3,.marketSell_info h3, .marketSell_form h3, .marketSell_payment h3 {font-weight:500;color:#603A8A;margin:0 0 12px 0;}
.marketSell input[type="checkbox"], .marketSell input[type="radio"]{ 
	position:absolute; 
    width:1px; 
    height:1px; 
    padding:0; 
    margin:-1px; 
    overflow:hidden; 
    clip:rect(0,0,0,0); 
    border:0; 
}
.marketSell input[type="checkbox"] + label, .marketSell input[type="radio"] + label{ 
	display:inline-block; 
    position:relative; 
    padding-left:26px; 
    cursor:pointer;
}
.marketSell input[type="checkbox"] + label:before, .marketSell input[type="radio"] + label:before{ 
	content:''; 
    position:absolute; 
    left:0; 
    top:3px; 
    width:18px; 
    height:18px; 
    text-align:center; 
    background:#fff; 
	box-shadow: 2px 2px 2px #0000001A;
    box-sizing:border-box; 
}
.marketSell input[type="checkbox"] + label span, .marketSell input[type="radio"] + label span {position:absolute;top:6px;left:3px;width:12px;height:12px;border:1px solid #BABABA;}

/* 보여질 부분의 스타일을 추가하면 된다. */
.marketSell input[type="checkbox"]:checked + label:after, .marketSell input[type="radio"]:checked + label:after{ 
	content: ''; 
    position:absolute; 
    top:6px; 
    left:3px; 
    width:12px;  
    height:12px; 
    background-color:#af9cc4;
}

.marketSell_form_check {text-align:right;margin:-34px 0 12px 0;}
.marketSell input[type="radio"] + label {padding:0 22px 0 0;}
.marketSell_form_check input[type="radio"] + label:before {left:auto;right:0;}
.marketSell input[type="radio"] + label span, .marketSell input[type="radio"]:checked + label:after {left:auto;right:3px;}
.marketSell_form_table th {width:78px;font-size:14px;color:#000;vertical-align:top;}
.marketSell_form_table td {font-size:14px;color:#000;vertical-align:top;}
.marketSell_form_table input[type="text"]{width:100%;background:#EAE6F2;height:27px;border:none;margin:0 0 6px 0;padding:0 6px;line-height:27px;}
.marketSell_form_table select {width:100%;background:#EAE6F2;height:27px;border:none;margin:0 0 6px 0;padding:0 6px;line-height:27px;}
.marketSell_form_table input.w70{width:66%;}
.marketSell_form_table input.w70 + a {display:inline-block;width:79px;height:27px;border-radius:5px;background:#603A8A;text-align:center;color:#fff;line-height:27px;margin:0 0 0 6px;}
.marketSell_form_table input:placeholder {font-size:12px;color:#BABABA;}

.marketSell_plus {text-align:center;color:#603A8A;}
.marketSell_pri ul li {line-height:26px;}
.marketSell_pri ul li:after {content:"";display:block;clear:both;}
.marketSell_pri ul li a {display:inline-block;float:right;}
.marketSell_allPrice_table td{text-align:right;}

.marketSell_payment > div {display:flex;justify-content: space-between;}
.marketSell_payment > div a {width:81px;height:32px;line-height:30px;border:1px solid #603A8A;border-radius:5px;color:#000;text-align:center;font-size:12px;}

#non_member_div {    padding: 0px 24px 24px 24px  !important;
    font-size: 16px;
    font-weight: 500;
}

#marketModal{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.2);padding:0 19px;}
#marketModal > div {position:absolute;width:block;width:341px;background:#fff;top:50%;left:50%;transform:translate(-50%, -50%);border-radius:5px;padding:32px 24px;height: 422px;line-height: 20px;}
#marketModal > div > div {padding:32px 24px;}
#marketModal > div h3 {text-align:center;font-weight:600;color:#603A8A;font-size:18px;padding:0 0 12px;/*border-bottom:1px solid #bababa;*/}
#marketModal > div p {padding:0px 24px;font-size:16px;font-weight: 400;}
#marketModal > div p span {color:#603A8A;font-weight: 500;}
#marketModal a.ok_btn {margin:0 0 6px 0;}

#marketModal1{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.2);padding:0 19px;}
#marketModal1 > div {position:absolute;width:block;width:341px;background:#fff;top:50%;left:50%;transform:translate(-50%, -50%);border-radius:5px;padding:32px 24px;}
#marketModal1 > div > div {padding:32px 24px;}
#marketModal1 > div h3 {text-align:center;font-weight:600;color:#603A8A;font-size:18px;padding:0 0 12px;/*border-bottom:1px solid #bababa;*/}
#marketModal1 > div p {padding:32px 24px;font-size:14px;}
#marketModal1 > div p span {color:#603A8A;}
#marketModal1 a.ok_btn {margin:0 0 6px 0;}

#marketModal2{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.2);padding:0 19px;}
#marketModal2 > div {position:absolute;width:block;width:341px;background:#fff;top:50%;left:50%;transform:translate(-50%, -50%);border-radius:5px;padding:32px 24px;}
#marketModal2 > div > div {padding:32px 24px;}
#marketModal2 > div h3 {text-align:center;font-weight:600;color:#603A8A;font-size:18px;padding:0 0 12px;border-bottom:1px solid #bababa;}
#marketModal2 > div p {padding:32px 24px;font-size:14px;}
#marketModal2 > div p span {color:#603A8A;}
#marketModal2 a.ok_btn {margin:0 0 6px 0;}

#marketModal3{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.2);padding:0 19px;}
#marketModal3 > div {position:absolute;width:block;width:341px;background:#fff;top:50%;left:50%;transform:translate(-50%, -50%);border-radius:5px;padding:32px 24px;}
#marketModal3 > div > div {padding:32px 24px;}
#marketModal3 > div h3 {text-align:center;font-weight:600;color:#603A8A;font-size:18px;padding:0 0 12px;border-bottom:1px solid #bababa;}
#marketModal3 > div p {padding:32px 24px;font-size:14px;}
#marketModal3 > div p span {color:#603A8A;}
#marketModal3 a.ok_btn {margin:0 0 6px 0;}

.marketModal_box span {display:block;padding:20px 0 0 0;font-size: 16px;color: #603A8A;}
.marketModal_box_button {display:flex;justify-content: space-between;margin-top:10px;}
.marketModal_box_button button {color:#BABABA;cursor:pointer; font-size: 15;}
.marketModal_box_button button:active, .marketModal_box_button button:focus {color:#563b80;}


/* 주문내역 */
.marketOrder {min-height:100vh;padding:0 19px;}
.marketOrder div > h3 {border-bottom:1px solid #BABABA;line-height:24px;padding:0 0 6px;margin:0 0 18px;font-weight: 600;}
.marketOrder_list li {margin:0 0 46px;}
.marketOrder_list li:after {content: "";display:block;clear:both;}
.marketOrder_list .marketOrder_list_check {position:relative;width: 18px;margin: 0 13px 0 0;}
.marketOrder_list .marketOrder_list_thumb {float:left;display:block;width:109px;height:109px;background:#EAE6F2;}
.marketOrder_list .marketOrder_list_text {float:right;width:calc( 100% - 109px);padding:0 0 0 12px;}
.marketOrder_list .marketOrder_list_text p {font-size: 15px;line-height:20px;font-weight: 400;padding:3px;}
.marketOrder_list .marketOrder_list_text p.marketOrder_list_text01 {padding:0 0 6px;border-bottom: 1px solid #EAE6F2;margin-bottom: 6px;background:url('../image/market_arrow_l.png') right center no-repeat;}
.marketOrder_list .marketOrder_list_text p.marketOrder_list_text03 span {display:inline-block;line-height:13px; padding:5px;}
.marketOrder_list .marketOrder_list_text p.marketOrder_list_text03 span.marketOrder_list_text03_price {padding: 0 5px 0 0;border-right:1px solid #000;}
.marketOrder_list .marketOrder_list_text p.marketOrder_list_text04 {font-size:12px;color:#603A8A;margin:0 0 0 0;}
.marketOrder_list .marketOrder_list_text_btnbox {display:flex;margin:10px 0 0 0;}
.marketOrder_list .marketOrder_list_text_btnbox button {width:25px;height:25px;border:1px solid #563B80;border-radius: 3px;text-align:center;color: #563B80;font-size: 18px;cursor:pointer;box-sizing:border-box;padding:0;}
.marketOrder_list .marketOrder_list_text_btnbox a {width:77px;height:25px;border:1px solid #563B80;border-radius: 3px;text-align:center;color: #563B80;font-size: 12px;cursor:pointer;line-height:22px;margin:0 0 0 8px;}
.marketOrder_list .marketOrder_list_text_btnbox p{margin: 0 8px;}


/* 주문내역 상세 */
.marketOrderDetail > div {margin:0 0 24px 0;}
.marketOrderDetail_btn {width:100%;display:flex;border:1px solid #5A3E86;border-radius:5px;}
.marketOrderDetail_btn li {height:43px;line-height:43px;width:33.33%;border-right:1px solid #5A3E86;}
.marketOrderDetail_btn li:last-child {border-right:none;}
.marketOrderDetail_btn li a {text-align:center;width:100%;height:100%;}
.marketOrderDetail_wrap > h3 {font-weight:500;color:#603A8A;}
.marketOrderDetail_wrap_table th {text-align:left;width:92px;font-size:14px;color:#000;vertical-align:top;font-weight:400;line-height:28px;}
.marketOrderDetail_wrap_table td {font-size:14px;color:#000;vertical-align:top;line-height:28px;color:#5A3E86;}
.marketOrderDetail_wrap_table_right td {text-align:right;}


/* 후기게시판 */
.marketReview input[type="checkbox"]{ 
	position:absolute; 
    width:1px; 
    height:1px; 
    padding:0; 
    margin:-1px; 
    overflow:hidden; 
    clip:rect(0,0,0,0); 
    border:0; 
}
.marketReview input[type="checkbox"] + label{ 
	display:inline-block; 
    position:relative; 
    padding-left:26px; 
    cursor:pointer; 
}
.marketReview input[type="checkbox"] + label:before{ 
	content:''; 
    position:absolute; 
    left:0; 
    top:3px; 
    width:18px; 
    height:18px; 
    text-align:center; 
    background:#fff; 
	box-shadow: 2px 2px 2px #0000001A;
    box-sizing:border-box; 
}
.marketReview input[type="checkbox"] + label span {position:absolute;top:6px;left:3px;width:12px;height:12px;border:1px solid #BABABA;}

/* 보여질 부분의 스타일을 추가하면 된다. */
.marketReview input[type="checkbox"]:checked + label:after{ 
	content: ''; 
    position:absolute; 
    top:6px; 
    left:3px; 
    width:12px; 
    height:12px; 
    background-color:#af9cc4;
}

.marketReview {padding:0 17px;min-height: 100%;}
.marketReview_top:after {content:"";display:block;clear:both;}
.marketReview_top {padding:0 0 16px 0; border-bottom:1px solid #bababa;}
.marketReview_top > div {float:left;display:inline-block;width:150px;}
.marketReview_top_write {float:right;display:inline-block;text-align:right;color:##707070;}

.marketReview_list li {padding:16px 0;border-bottom:1px solid #BABABA;}
.marketReview_list li:after {content:"";display:block;clear:both;}
.marketReview_list_thumb {float:left;display:block;width:42px;height:42px;background:#EAE6F2;}
.marketReview_list_text {float:left;width:calc( 100% - 42px );padding:0 0 0 12px;}
.marketReview_list_text  p {font-size:12px;margin:12px 0 20px;color:#707070;line-height:18px;}
.marketReview_list_text  p.marketReview_list_pText {color:#603A8A;margin:0;}
.marketReview_list_text_star:after {content:"";display:block;clear:both;}
.marketReview_list_text_star h4 {display:inline-block;float:left;}
.marketReview_list_text_star div {display:inline-block;float:right;width:95px;margin:0 0 0 auto;text-align:right;}
.marketReview_list_text_star div span {display:inline-block;}

.marketReview_write {margin:12px 0 24px;}
.marketReview_write textarea {width:100%;height:140px;border:none;padding:10px;resize: none;}
.marketReview_write textarea + p {font-size:12px;margin:6px 0 0 0;}
.marketReview_write textarea:placeholder {color:#ddd;}
.marketReview_photo {width:100%;text-align:center;font-size:12px;background:url('../image/market_imgplus.png') center top no-repeat;margin-top:120px;}
.marketReview_photo p {padding:170px 0 0 0;font-size:12px;color:#707070;}

.marketBoardWrite h3 {border-bottom:1px solid #BABABA;line-height:24px;padding:0 0 6px;margin:0 0 18px;}
.marketBoardWrite {min-height:calc( 100vh - 92px );}



/* 문의게시판 */
.marketQna input[type="checkbox"]{ 
	position:absolute; 
    width:1px; 
    height:1px; 
    padding:0; 
    margin:-1px; 
    overflow:hidden; 
    clip:rect(0,0,0,0); 
    border:0; 
}
.marketQna input[type="checkbox"] + label{ 
	display:inline-block; 
    position:relative; 
    padding-left:26px; 
    cursor:pointer; 
}
.marketQna input[type="checkbox"] + label:before{ 
	content:''; 
    position:absolute; 
    left:0; 
    top:3px; 
    width:18px; 
    height:18px; 
    text-align:center; 
    background:#fff; 
	box-shadow: 2px 2px 2px #0000001A;
    box-sizing:border-box; 
}
.marketQna input[type="checkbox"] + label span {position:absolute;top:6px;left:3px;width:12px;height:12px;border:1px solid #BABABA;}

/* 보여질 부분의 스타일을 추가하면 된다. */
.marketQna input[type="checkbox"]:checked + label:after{ 
	content: ''; 
    position:absolute; 
    top:6px; 
    left:3px; 
    width:12px; 
    height:12px; 
    background-color:#af9cc4;
}

.marketQna {padding:0 17px;min-height: 100%;}
.marketQna_top:after {content:"";display:block;clear:both;}
.marketQna_top {padding:0 0 16px 0; border-bottom:1px solid #bababa;}
.marketQna_top > div {float:left;display:inline-block;width:150px;}
.marketQna_top_write {float:right;display:inline-block;text-align:right;color:#707070;width:60px;}

.marketQna_list li {padding:16px 0;border-bottom:1px solid #BABABA;}
.marketQna_list li:after {content:"";display:block;clear:both;}
.marketQna_list_thumb {float:left;width:42px;font-size:10px;color:#603A8A;}
.marketQna_list_thumb span {display:block;width:42px;height:42px;background:#EAE6F2;}
.marketQna_list_text {float:left;width:calc( 100% - 42px );padding:0 0 0 12px;}
.marketQna_list_text p {font-size:12px;margin:12px 0 0;color:#707070;line-height:18px;}
.marketQna_list_text_button:after {content:"";display:block;clear:both;}
.marketQna_list_text_button h4 {display:inline-block;float:left;}
.marketQna_list_text_button a {display:inline-block;float:right;padding:0 6px;height:17px;line-height:15px;color:#fff;background:#BABABA;border-radius:5px;font-size:10px;}
.marketQna_list_text_button a.a_ok {background:#603A8A;}
.marketQna_list_text_aBox {padding:5px 10px;background:#EAEAEA;border-radius:5px;margin:14px 0 0;}


/* 최근본상품 */
.marketSee {padding:16px 17px;border-top:1px solid #bababa;}
.marketSee_list:after {content:"";display:block;clear:both;}
.marketSee_list li {float:left;width:calc(( 100% - 20px) /3);margin:0 10px 16px 0;}
.marketSee_list li:nth-child(3n) {margin:0 0 16px 0;}
.marketSee_list_thumb {display:block;width:100%;height:108px;background:#EAE6F2;}
.marketSee_list li h4 {margin:7px 0 5px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.marketSee_list li p {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}



/* 로그인 */
.marketMember_btn a.ok_btn {height:41px;line-height:41px;margin:0 0 6px;border-radius: 5px;}
.marketJoin_btn a.gray {background: #bababa;}
.marketMember_btn a.back_btn {height:41px;line-height:41px;border-radius: 5px;}

.marketJoin_btn a.ok_btn {height:41px;line-height:41px;margin:0 0 6px;}
#marketModal1 a.w50 {display:inline-block;width:49%;margin:0;height:41px;line-height:41px;}
#marketModal2 a.w50 {display:inline-block;width:49%;margin:0;height:41px;line-height:41px;}
#marketModal3 a.w50 {display:inline-block;width:49%;margin:0;height:41px;line-height:41px;}

.marketMember {position:relative;width:100%;height:100vh;}
.marketMember > div {position:absolute;top:50%;left:0;transform:translate(0, -50%);padding:0 20px;}
.marketMember_input input {width:100%;font-size:16px;line-height:32px;border-bottom:1px solid #E1E1E1;margin:0 0 40px 0;}
.marketMember_input input:last-child {margin:0;}
.marketMember_input input:placeholder {color:#E1E1E1;}
.marketMember_btn {margin:80px 0 47px;}
.marketMember_find {text-align:center;}
.marketMember_find a {display:inline-block;font-size:14px;color:#B9B9B9;line-height:24px;margin:0 0 5px;border-bottom:1px solid #B9B9B9;padding:0 5px;}



/* 회원가입 */
.marketJoin {padding: 0 20px 80px;min-height:calc( 100vh - 92px );}
.marketJoin_priv {height:450px;overflow-y:scroll;padding:12px 24px;background:#F4F4F4;font-size:13px;color:#878787;line-height:20px;}
.marketJoin_btn {position:absolute;width:100%;bottom:20px;left:0;padding:0 20px;}

.marketJoin_form .w70 {width:67%;}
.marketJoin_form .w30 {width:30%;}
.marketJoin_form .mt {margin:6px 0 0 0;}
.marketJoin_form .ml {margin: 0 0 0 3px;}
.marketJoin_form dt {font-size:12px;margin:0 0 6px;font-weight: 500;}
.marketJoin_form dd {margin:0 0 20px;}
.marketJoin_form dt span {color:#603A8A;}
.marketJoin_form dd a {display:inline-block;height:47px;border-radius:5px;background:#603A8A;color:#fff;text-align:center;line-height:47px;margin:0 0 0 auto;}
.marketJoin_form dd a.gray {background:#BABABA;}
.marketJoin_form dd input {width:100%;height:46px;line-height:46px;background:#F4F4F4;padding:0 10px;color:#603A8A;}
.marketJoin_form dd input:placeholder {color:#B9B9B9;}
.marketJoin_form dd select {width:calc(( 100% - 16px ) /3);border:1px solid #603A8A;border-radius:5px;height:38px;line-height:38px;padding:0 8px;margin:0 4px 0 0;}
.marketJoin_form dd select:last-child {margin:0;}
.marketJoin_form dd > span {display:block;margin:6px 0 0 0;color:#603A8A;}


@media (max-width: 640px) {
	.marketContainer, .marketDetail_fixbox, .marketCart_fix  {width:100%;}
}
@media (max-width: 320px) {
	#marketModal1 > div {width:90%;margin:0 auto;padding:20px;}
	#marketModal2 > div {width:90%;margin:0 auto;padding:20px;}
	#marketModal3 > div {width:90%;margin:0 auto;padding:20px;}
}






.bxslider img{height : 140px; margin: auto;
    display: block;}


.marketSell_info_options select{
	width: 100%;
    background: #EAE6F2;
    height: 27px;
    border: none;
    margin: 0 0 6px 0;
    padding: 0 6px;
    line-height: 27px;
}
.right_1depth{font-size: 18px !important; }
.right_2depth{font-size: 15px !important; }
.right_3depth{font-size: 12px !important; border:none !important; line-height:32px !important;}

.reason_radio_focus {color:#5A3E86;font-weight: 700;}
.marketHeader_logo {color: #563B80;font-weight: 700;font-size: 18px;font-weight: 500;}
.address_btn {    display: inline-block;
    width: 79px;
    height: 27px;
    border-radius: 5px;
    background: #603A8A;
    text-align: center;
    color: #fff;
    line-height: 27px;
    margin: 0 0 0 6px;
font-size: 13px;}