body {min-width:1600px;}

#menu1{margin-right: 10%}

.header_gnb_menus{
    width: 66%;
    float: left;
}
.header_messageLine{
	top: 0px;
	left: 0px;
	width: 100%;
	/* UI Properties */
	background: #603A8A 0% 0% no-repeat padding-box;
	opacity: 1;
	height:62px;
	position:relative;
	z-index:100;
}

.header_messageLine_message{
	text-align:center;
	font-size:18px;
	letter-spacing: 0px;
	opacity: 1;
	line-height:62px;
}

.message_first{
	color: #FFFFFF;
}

.message_second{
	color: #8EEBDD;
}

.header_gnb {margin: 0 110px;height:124px;display:flex;align-items: center;justify-content: space-between;}
.header_gnb_logo {
	width: 200px;
}
.menus {
	display: flex;
	position: relative;
}
.menus > li {
	position:relative;width:230px;padding:0;font-size: 22px;text-align: center;font-weight: 600;height: 124px;line-height: 124px;cursor: pointer;min-width: 230px;
}
.menus > li:first-child {
	margin-left:0;
}
.menus_2depth {display:none;position: absolute;top:0;left:-70px;width: 230px;height: 311px; border-right: 1px solid #C7C7C7;margin-top: 124px;padding-top: 12px;z-index:9999;max-width: 230px;}
.menus_2depth:hover  {background: none;}
.menus_2depth li:hover {background: #EAE6F2;}
.menus > li:first-child .menus_2depth {left:0;border-left: 1px solid #C7C7C7;}
.menus > li:nth-child(2) .menus_2depth {left:0;}
.menus > li:nth-child(3) .menus_2depth {left:0;}
.menus > li:nth-child(4) .menus_2depth {left:0;}
.menus_2depth ul li {font-size: 18px;height: 32px;line-height: 32px; color: #353535;text-align: center;font-weight: 400;}
.menus_2depth ul li a {display:inline-block;width:auto;height:100%;padding: 0; text-align: left;width: 60%;margin: 0 auto;}

.gnb_wrap {display:none;position: absolute;width: 100%;height: 324px;background: #fff;z-index:999;}

.header_gnb_loginSection ul {display:block;width:auto;height:100%;}
.header_gnb_loginSection ul:after {content:"";display:block;clear:both;}
.header_gnb_loginSection ul li {float:left;display:inline-block;font-size:22px;text-align: center;font-weight: 700;line-height:34px;padding:0;border-right:none;height:34px;}
.header_gnb_loginSection ul li a {font-size:22px;padding:0 20px;}
.header_gnb_loginSection ul li:first-child  span {border-right: 1px solid #4e327b;display:inline;padding:0 10px 0 0;}
.header_gnb_loginSection ul li:first-child {border-right:none;}
.header_gnb_loginSection ul li:nth-child(2)  a {border-right: 1px solid #4e327b;display:inline;padding:0 25px ;}
.header_gnb_loginSection ul li {float:left;display:inline-block;width:auto;line-height:124px;color: #4E327B;height:124px;}

.header {position:relative;}
#login_name {cursor:pointer;}
#login_name_li {position:relative;}

.body_mainSlide ul li {position:relative;height:725px;position: relative;}
.body_mainSlide ul li.body_mainSlide01 {background:#603A8A;}
.body_mainSlide ul li.body_mainSlide02 {background:#603A0B;}
.body_mainSlide ul li.body_mainSlide03 {background:#603A5C;}
.mainSlede_text {position: absolute;top: 50%;left:50%; transform:translate(-50%, -50%);width:1200px;margin:0 auto;}
.mainSlede_text span {font-size:22px;color:#A4E9DD;font-weight: 300;}
.mainSlede_text h2 {font-size:40px;line-height: 59px; /* color:#A4E9DD;color: #fff; */color:white;margin:60px 0;font-weight: 600;}
.mainSlede_text p {font-size:22px;/* color: #fff; */color:white;font-weight: 200;} 
.mainSlede_text a {display:block;margin:48px 0  0;width:222px;height:61px;line-height:61px;background:#fff;box-shadow: 3px 3px 6px #0000001A;border-radius: 30px;color:#5A3E86;font-size:22px;font-weight: 500;text-align: center;} 
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {position:absolute;bottom:40px;left:50%;padding:0;width:auto;}
.bx-wrapper .bx-pager.bx-default-pager a {background:#fff !important;opacity: 0.5;}
.bx-wrapper .bx-pager.bx-default-pager a.active {width:39px;background:#fff !important;opacity: 1.0;}

.body_section {width:1400px;margin:0 auto;}

.body_quick ul {display:flex;}
.body_quick ul li {width:25%;height:156px;border-right:1px solid #C7C7C7;box-sizing:border-box;}
.body_quick ul li a{display:block;padding: 46px 0;width:100%;height:100%;font-size: 25px;color: #000;line-height:37px;text-align:center;font-weight:500;box-sizing:border-box;}
.body_quick ul li.active a{background: #AA95D1;color: #fff;}
.body_quick ul li span {display:block;font-size: 17px;}

.body_keyword {width:100%;height:722px;background: #EAE6F2;text-align:center;padding:140px 0;box-sizing: border-box;}
.body_keyword h3 {font-size: 40px;color: #4E327B;font-weight:600;line-height: 55px;margin-bottom: 55px;}
.body_keyword ul li {display:inline-block;padding:14px 20px;background:#fff;box-shadow: 3px 3px 6px #0000001A;
border-radius: 31px;margin:0 0 42px 0;color:#040404;font-size: 22px;font-weight: 500; }

.body_video {padding:140px 0;box-sizing:border-box;}
.body_video:after {content:"";display:block;clear:both}
.body_video .body_video_left{float:left;width:calc( 100% - 780px );padding:54px 0;box-sizing:border-box;}
.body_video .body_video_left h5 {font-size: 40px;color: #4E327B;line-height: 55px;font-weight: 600;margin-bottom:53px;}
.body_video .body_video_left .body_video_left_tab li {display:inline-block;font-size:22px;font-weight: 600;color: #707070;line-height: 33px;cursor:pointer;margin-right: 20px;}
.body_video .body_video_left .body_video_left_tab li.active {color: #4E327B;border-bottom: 1px solid #4E327B;}
.body_video .body_video_left .body_video_left_box div {font-size: 22px;font-weight: 500;color: #4E327B;margin-top: 38px;padding-right:124px;box-sizing: border-box;line-height: 33px;}
.body_video .body_video_right{float:right;width:780px;}
.body_video .body_video_right img{width:100%;}

.body_sectionView_div{
	text-align: center;
}

.body_sectionView_div_img{
	width: 100%;
}

.body_section03{
	background: var(--unnamed-color-603a8a) 0% 0% no-repeat padding-box;
	background: #603A8A 0% 0% no-repeat padding-box;
	opacity: 1;
	width: 100%;
	height: 640px;
}

.body_section03_title{
	text-align: center;
	font: normal normal medium 38px/54px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #FFFFFF;
	opacity: 1;
	padding-top : 100px;
	font-size : 38px;
}

.body_section03_content{
	width: 50%;
	left: 310px;
	margin: 0 auto 0 auto;
}
.body_section03_content_div{
    height: 330px;
	width: 25%;
	float : left;
	text-align: center;
	margin: 3% auto 0 auto;
    border-right: 1px solid #C7C7C7;
    opacity: 1;
    padding-top: 50px;
}

.body_section03_content_01{
	text-align: center;
	letter-spacing: NaNpx;
	color: #FFFFFF;
	opacity: 1;
	margin-bottom: 15%;
}

.body_section03_content_02{
	text-align: center;
	font: normal normal bold 40px/30px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #8EEBDD;
	margin-bottom: 15%;
}

.body_section03_content_02 span{
	text-align: center;
	font: normal normal bold 27px/30px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #8EEBDD;
	margin-bottom: 15%;
}

.body_section03_content_03{
	text-align: center;
	font: normal normal medium 17px/27px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #FFFFFF;
	opacity: 1;
    font-weight: 300;
}

.content_01_br{
	margin-bottom: 8%;
}
.body_section03_content_01 {font-size:22px;font-weight: 400;}
.body_section03_content_01 span {font-size:17px;}
.body_section03_content_03 {font-size: 17px;}

.body_section04{
	width: 80%;
	margin: 0 auto 0 auto;
}

.body_section04_title{
	text-align: center;
	font: normal normal medium 38px/54px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
	font-size : 38px;
	margin-top : 10%;
}

.body_section04_subtitle{
	text-align: left;
	margin-top : 10%;
	padding-bottom : 35px;
	border-bottom : 1px solid #ddd;
	font-size: 22px;
}

.body_section04_content{
	text-align: left;
	margin-top : 5%;
	padding-bottom : 35px;
}

.footer{
	width: 100%;
	height: 500px;
	margin: 0 auto 0 auto;
	border-top:1px solid #ddd;
	padding:60px 0;
}

.footer_in {width:1400px;margin:0 auto;}
.footer_section01{
	margin-top : 5%;
}

.footer_section01_menu{
	float : left;
	margin-right : 6%;
    font-size: 22px;
}

.footer_section01_familySite{
	text-align : right;
}

.footer_section01_familySite select{
	border-bottom: 1px solid #C7C7C7;
    font-size: 18px;
    padding: 5px;
    -webkit-appearance:none; /* 크롬 화살표 없애기 */
    -moz-appearance:none; /* 파이어폭스 화살표 없애기 */
    appearance:none /* 화살표 없애기 */
}

.footer_section02_menu{
    font-size: 18px;
}
.footer_section02_menu div{
    float : right;
}

.footer_section02_menu div img{
    margin-left: 28px;
}
.private{
	color: #5A3E86;
}

.footer_section02{
	margin-top : 3%;
}

.footer_section02_icon{
	text-align : right;
}

.footer_section03{
	margin-top : 5%;
	color: #CECECE;
    font-size : 18px;
}

.body_idFind{
	width: 100%;
	height: 900px;
	text-align: center;
	/*background-color : #EAE6F2;*/
    background-color : white;
}

.body_idFind_title{
	padding-top : 150px;
	font-size: 22px;
    margin-bottom: 80px;
}

.body_idFind_body_title{
	margin: 2% auto 10px 38%;
	text-align: left;
	width : 40%;
}

.body_idFind_body_input{
	margin: 0 auto 0 auto;
	text-align: center;
	width : 27%;
}

.input_full{
	width: 500px;
	height: 42px;
	font-size: 15px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: white;
}

.input_3{
	width: 120px;
	height: 42px;
	font-size: 15px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: white;
}

.input_2{
	width: 370px;
	height: 42px;
	font-size: 15px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: white;
	margin-bottom : 10px;
}

.input_100{
	width: 100%;
	height: 42px;
	font-size: 15px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: white;
}

.input_80{
	width: 78%;
	height: 42px;
	font-size: 15px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: white;
}

.input_60{
	width: 58%;
	height: 42px;
	font-size: 15px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: white;
}

.input_20{
	width: 18%;
	height: 42px;
	font-size: 15px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: white;
}

.body_infoModify_body_inputButton{
	display:block;
    width:120px;
	height: 42px;
    line-height:37px;
    text-align:center;
	outline: none;
	border-radius: 15px;
    background-color:#603A8A ;
    color: white;
	float : right;
	text-decoration: none;
}

.body_infoModify_body_saveButton{
	display:block;
    width:100%;
	height: 42px;
    line-height:37px;
    text-align:center;
	outline: none;
	border-radius: 15px;
    background-color:#603A8A ;
    color: white;
	text-decoration: none;
	margin: 10% auto 0 auto;
}

.body_inquiry_section01{
	width: 100%;
	height: 300px;
	margin:5% auto 0 auto;
	text-align: center;
	background-color : #EAE6F2;
}

.body_inquiry_section01_title{
	padding-top : 100px;
	text-align :left;
	margin-left : 20%;
	font-size: 35px;
}

.body_inquiry_section01_text{
	padding-top : 50px;
	text-align :left;
	margin-left : 20%;
	font-size: 13px;
	line-height : 25px;
}

.body_inquiry_section02_title{
	padding-top : 100px;
	text-align :left;
	margin-left : 20%;
	margin-bottom : 3%;
	font-size: 35px;
}

.body_inquiry_body_container{
	width : 60%;
	margin: 0 auto 0 auto;
	background-color : #EAE6F2;
	height: 500px;
	border-top : 3px solid #603A8A;
}

.body_inquiry_body_table{
	width : 60%;
	margin : 50px auto 0 auto;
}

.body_inquiry_body_checkbox{
	width : 60%;
	margin : 50px auto 0 auto;
}

.body_inquiry_mainImage img{
	width : 100%;
}

.input_textarea{
	font-size: 15px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: white;
}

.body_inquiry_body_fileButton{
	display:block;
    width:120px;
	height: 42px;
    line-height:37px;
    text-align:center;
	outline: none;
	border-radius: 15px;
    background-color:#603A8A ;
    color: white;
	float : left;
	text-decoration: none;
}

.body_inquiry_body_inputButton{
	display:block;
    width:240px;
	height: 42px;
    line-height:37px;
    text-align:center;
	outline: none;
	border-radius: 25px;
    background-color:#603A8A ;
    color: white;
	text-decoration: none;
	margin : 50px auto 0 auto;
}

.body_fam_mainImage img{
	width : 100%;
}

.body_fam_section{
	width : 80%;
	margin : 50px auto 0 auto;
}

.body_fam_menu{
	padding-bottom: 100px;
}
.body_fam_menu_01{
	float : left;
	color: #603A8A;
	border-bottom : 3px solid #603A8A;
	margin-right : 30px;
}

.body_fam_menu_02{
	float : left;
	color: gray;
}

.body_fam_title{
	float : left;
	color : #603A8A;

}

.body_fam_content{
	margin-top : 100px;
	border-top : 1px solid gray;
	border-left : 1px solid gray;
	border-right : 3px solid gray;
	border-bottom : 3px solid gray;
	box-shadow : 5px 5px 5px 5px gray;
}

.body_fam_content_div01{
	border-bottom : 1px solid gray;
	margin : 50px auto 50px auto;
	height : 120px;
}

.body_fam_content_div01_img{
	float : left
}


.body_fam_content_div01_name{
	float : right;
	text-align: left;
	margin : 15px 55px 5px 5px;
	color: #603A8A;
}

.body_fam_content_inputButton{
	display:block;
    width:90%;
	height: 42px;
    line-height:37px;
    text-align:center;
	outline: none;
	border-radius: 5px;
    background-color:#603A8A ;
    color: white;
	text-decoration: none;
	margin : 50px auto 0 auto;
}

.body_fam_content_inputButton2{
	display:block;
    width:90%;
	height: 42px;
    line-height:37px;
    text-align:center;
	outline: none;
	border-radius: 5px;
    background-color:#EAE6F2 ;
    color: white;
	text-decoration: none;
	margin : 50px auto 0 auto;
}

.body_fam_content_div02{
	color: #603A8A;
	font-size : 12px;
}

.body_fam_content_td{
	padding: 100px;
}

.maintab_02_section {width:100%;height:100vh;text-align: center;display: flex;  flex-direction: column;justify-content: center;}
.maintab_02_section:nth-child(2n-1) {background: #EAE6F2;}
.maintab_02_section:nth-child(2n) {background: #F7F8FA;}
.maintab_02_section h3 {font-size: 44px;font-weight: 500;color: #000;line-height: 59px;}
.maintab_02_section h3 span {font-weight: 700;color: #532493;}
.maintab_02_section p {margin-top: 28px;font-size: 17px;font-weight: 600;color: #000;line-height:30px;}
.maintab_02_section .maintab_02_section_list {margin:73px 0 0 0;}
.maintab_02_section .maintab_02_section_list:after {content: "";display:block;clear:both;}
.maintab_02_section .maintab_02_section_list li {padding:70px 0;min-height:275px;float:left;width:calc(( 100% - 24px ) /3);margin:0 12px 0 0;background:#5A3E86;box-sizing:border-box;}
.maintab_02_section .maintab_02_section_list li:last-child {margin:0;}
.maintab_02_section .maintab_02_section_list h5{font-size: 30px;line-height: 1;color:#8EEBDD;font-weight: 700;}
.maintab_02_section .maintab_02_section_list p{font-size: 17px;line-height: 27px;color:#fff;font-weight: 300;}
.maintab_02_section img {position: absolute; margin-left: 50px;}
p.ready {height:400px;text-align: center;line-height:400px;font-size: 44px;font-weight: 600;color: #532493;}



/*서브공통*/
#subvisual {height:48%;padding:0 0 0 0;box-sizing: border-box;background:#603A8A;text-align: center;color: #fff;margin-bottom:50px;}
#subvisual img {width: 100%;}
#subvisual h2 {font-size: 59px;font-weight: 500;line-height: 1;padding-top: 120px;}
#subvisual p {font-size: 17px;margin-top: 10px;color:#fff;}
#content {padding:10px 10px 240px;}

h2 {font-size: 38px;font-weight: 500;}
h3 {font-size: 22px;font-weight: 700;}
h5 {font-size: 18px;font-weight: 500;color: #232323;}
p {font-size: 16px;}
a.ok_btn {display:block;width:100%;height:55px;line-height:55px;margin:0 0 5px 0;text-align:Center;border-radius: 5px;background: #5A3E86;;color:#fff;font-size: 22px;font-weight: 500;}
a.back_btn {display:block;width:100%;height:55px;line-height:55px;margin:0 0 5px 0;text-align:Center;border-radius: 5px;border:1px solid #5A3E86;;color:#5A3E86;;font-size: 22px;font-weight: 500;}




/*회원가입*/
.join {position: relative;min-height:871px;padding:80px 0 204px;background: white;box-sizing: border-box;}
#join_tab {display: flex;justify-content: center;margin: 0 0 80px 0;font-weight:500;font-size: 18px;}
#join_tab li:after {content:"";display:block;clear:both;}
#join_tab li {float:left;text-align:center;width:200px;font-weight: 600;}
#join_tab li span {position:relative;display:block;width:40px;height:40px;line-height:40px;text-align:center;background: #fff;border-radius: 50%;margin:0 auto 10px;font-size:18px;font-weight: 500;}
#join_tab li span:after {position:absolute;content:"";top:20px;left:60px;display:block;width:120px;height:2px;background:#532493;z-index: 100;}
#join_tab li:last-child span:after {display:none;}
#join_tab li.active {color:#532493;}
#join_tab li.active span{color:#532493;}

.join .join_page {width:1400px;margin:0 auto;display: flex;align-items: center;box-sizing: border-box;}
.join .join_page > div {width:1024px;margin:0 auto;}

.join .join_page .join_page_01 a{display:block;width:516px;height:108px;background: #fff;color: #532493;text-align:center;margin:0 auto 20px;border-radius: 10px;box-shadow: 3px 3px 6px #00000029;padding:26px 0;box-sizing: border-box;}
.join .join_page .join_page_01 a.active, .join .join_page .join_page_01 a:hover{background:#532493;color:#fff;}

.join .join_page .join_page_02 {display:flex;justify-content: center;}
.join .join_page .join_page_02 a {display:block;width:279px;height:200px;background: #fff;color: #532493;text-align:center;margin:0 13px 20px;border-radius: 10px;box-shadow: 3px 3px 6px #00000029;padding:26px 0;box-sizing: border-box;}
.join .join_page .join_page_02 a h3 {padding:0 0 12px 0;border-bottom:1px solid #ddd;margin:0 25px 48px;}
.join .join_page .join_page_02 a.active, .join .join_page .join_page_02 a:hover{background:#532493;color:#fff;}

.join_page_03_privacy {margin:0 auto;width:738px;padding:22px 25px;border-radius: 10px;box-shadow: 3px 3px 6px #00000029;background:#fff;box-sizing: border-box;}
.join_page_03_privacy p {font-size:13px;margin: 17px 0 0 0;color: #878787;line-height: 20px;height:286px;overflow:hidden;}
.join_page_03_privacy a {margin:24px 0 0 0;display:block;width:100%;height:20px;text-align:center;}
.join_page_03_btn {margin:18px auto 0;width:738px;}


.join_page_04 {width:738px;}
.join_page_04 h5 {font-weight: 700;color: #603A8A;padding-bottom:7.27px;border-bottom:1px solid #603A8A;margin-bottom:25px;}
.join_form {margin:50px 0 27px 0;}
.join_form tr th {font-size: 18px;color: #000;line-height:27px;text-align:left;font-weight: 400;}
.join_form tr td input[type="text"] {font-family: 'Noto Sans KR'; width:100%;height:44px;line-height:44px;padding:0 17px;border:none;margin-bottom:12.06px;background-color: white;}
.join_form tr td input[type="password"] {font-family: 'Noto Sans KR'; width:100%;height:44px;line-height:44px;padding:0 17px;border:none;margin-bottom:12.06px;background-color: white;}
.join_form tr td input::placeholder {font-size: 16px;color:#B9B9B9 ;}
.join_form tr td input.w30 {width:16.39%;margin-right:10px;}
.join_form tr td input.w70 {width:81.6%;}
.join_form tr td select {width: 121px;height:44px;line-height:44px;padding:0 17px;margin-right:10px;font-family: inherit;  background: url('../image/join_select_arrow.png') #fff no-repeat;background-position: right 11px center;border:none;margin-bottom:12.06px; border-radius: 0px; -webkit-appearance: none; -moz-appearance: none;appearance: none;}
.join_form tr td select::-ms-expand {display: none;}
.join_form tr td a {display:block;width:121px;height: 44px;background: #5A3E86;;color: #fff;text-align: center;line-height: 44px;border-radius: 5px;margin:0 0 12.06px auto; font-weight: 300;}
.join_form tr td.text {font-size: 14px;color:#4E327B;height:20px;line-height:20px;padding-bottom:12.06px;}

.join_page_05_ok {width:375px;margin:0 auto;padding:34px 36px;background: #fff; box-sizing: border-box;color: #603A8A;}
.join_page_05 h5 {padding-bottom:20px;border-bottom: 1px solid #E1E1E1;margin-bottom:20px;}
.join_page_05 p {margin-bottom:30px;line-height: 24px;}
.join_page_05 p span {color: #603A8A;}
.join_page_05 .ok_btn {margin:68px 0 0 0 !important;}

.join_page_05_pay h5 {color:#603A8A;}
.join_page_05_pay p {border-bottom: 1px solid #E1E1E1;padding:0 0 20px 0;margin:0 0 20px 0;}
.join_page_05_pay_btn:after {content:"";display:block;clear:both;}
.join_page_05_pay_btn a {float:left;display:block;width:calc(( 100% - 20px) / 2);height:42px;line-height:40px;border:1px solid #603A8A;border-radius:5px;margin:0 20px 20px 0;box-sizing:border-box;text-align:center;}
.join_page_05_pay_btn a.active {float:left;display:block;width:calc(( 100% - 20px) / 2);height:42px;line-height:40px;border:1px solid #603A8A;;border-radius:5px;margin:0 20px 20px 0;box-sizing:border-box;text-align:center; background-color: #532493; color: white;}
.join_page_05_pay_btn a:nth-child(2n) {margin:0 0 20px 0;}

.join_page_06_ok {width:375px;margin:0 auto;padding:34px 36px;background: #fff; box-sizing: border-box;color: #603A8A;}
.join_page_06 h5 {padding-bottom:20px;border-bottom: 1px solid #E1E1E1;margin-bottom:20px;}
.join_page_06 p {margin-bottom:30px;line-height: 24px;}
.join_page_06 p span {color: #603A8A;}
.join_page_06 .ok_btn {margin:48px 0 10px !important;}


/*나의 정보 관리*/
.body_infoModify {background: #F4F2F8;}
.body_infoModify_in {width:738px;padding:128px 0;margin:0 auto;box-sizing: border-box;}
.body_infoModify_in h5{font-weight: 700;color: #603A8A;padding-bottom:7.27px;border-bottom:1px solid #603A8A;margin-bottom:25px;}
.body_infoModify_in a.ok_btn {margin:105px 0 0 0 !important;}


/*02-01 셀퀸클래스*/
.selClass_tab {display:flex;justify-content: center;width:100%;border-bottom:1px solid #ddd;padding-bottom:34px;margin-bottom:129px;}
.selClass_tab li {font-size: 17px;font-weight: 700;color:#888686;margin:0 42px;line-height:30px;padding:0 0 4px 0;cursor: pointer;}
.selClass_tab li.active, .selClass_tab li:hover {color:#5A3E86;border-bottom:3px solid #5A3E86;}
.selClass .selClass_in p {text-align: center;}

/*03_02 본사 문의*/
.contact:before {content:"";display:block;width:82px;height:3px;background: #5A3E86;margin:0 auto 34px;}
.contact .contact_intro {padding:78px 0;background:#EAE6F2;box-sizing: border-box;margin:0 0 60px 0;}
.contact .contact_intro .contact_intro_in {width:1280px;margin:0 auto;}
.contact .contact_intro .contact_intro_in p {line-height: 30px;font-weight: 600;margin-top:20px;}

.contact_in input::placeholder{color: #CBCBCB;}
.contact_in textarea::placeholder{color: #CBCBCB;}
.contact_in {width:1280px;margin:0 auto;}
.contact_in > div{margin:0 0 118px 0;}
.contact_in h2 {margin: 0 0 39px 0;}
.contact_in_wrap table {margin-bottom: 50px;}
.contact_in .contact_in_wrap {padding:101px 225px;border-top:4px solid #5A3E86;background:#EAE6F2;box-sizing: border-box;}
.contact_in .contact_in_wrap table th {width: 138px;line-height: 29px; padding: 0 0 49px;font-size: 20px;color: #000;font-weight: 500;text-align: left;vertical-align: top;}
.contact_in .contact_in_wrap table td {width: calc( 100% - 138px);vertical-align: top;background:none;}
.contact_in .contact_in_wrap table td.contact_in_wrap_form_text {padding:0 0 25px 0;font-size: 13px;font-weight: 500;color: #000;}
.contact_in .contact_in_wrap table td input {font-family: inherit; width:100%;border:none;border-bottom:1px solid #CBCBCB;padding:0 0 8.5px;background: none;font-size:17px;line-height:30px;font-weight: 500;margin-bottom:10px;}
.contact_in .contact_in_wrap table td input:placeholder {color:#CBCBCB;}
.contact_in .contact_in_wrap table td select {width:50%;font-family: inherit;border:none;border-bottom:1px solid #CBCBCB;padding:0 0 8.5px;background: none;font-size:17px;line-height:30px;font-weight: 500;color: #707070;}
.contact_in .contact_in_wrap table td textarea {border:1px solid #C4C4C4;width:100%;height:292px;padding:20px !important;box-sizing: border-box;resize: none;background:none;font-family: inherit;font-size:17px;line-height:30px;font-weight: 500;line-height: 30px;margin:0 0 49px 0;}
.contact_in .contact_in_wrap table td.contact_in_wrap_form_file {font-size: 13px;font-weight: 500;color: #000;}
.contact_in .contact_in_wrap table td.contact_in_wrap_form_file a {display:inline-block;width:97px;height:30px;line-height: 28px;text-align: center;color:#5A3E86;border: 1px solid #5A3E86;border-radius: 20px;margin: 0 19px 0 0;}
.contact_in_wrap_check {margin:102px 0 0;font-size:15px;font-family: inherit;font-weight: 500;color: #838181;}
.contact a.contact_btn {display:block;margin:74px auto 0;width:230px;height:61px;line-height: 61px;color: #fff;text-align: center;font-size: 17px;font-weight: 400;background:#5A3E86;border-radius: 50px;}


/*02_06 팸게시판*/
.fam_tab {width:1280px;margin:0 0 50px 260px;display:flex;justify-content: flex-start;}
.fam_tab li {font-size: 17px;font-weight: 700;color:#BABABA;margin:0 42px;line-height:30px;padding:0 0 4px 0;cursor: pointer;}
.fam_tab li.active, .fam_tab li:hover {color:#5A3E86;border-bottom:3px solid #5A3E86;}
.fam_in {width: 1280px;margin: 0 auto;}
.fam_in > h5 {color: #603A8A;margin-bottom: 34px;}
.fam_in .fam_in_list:after {content:"";display:block;clear:both;}
.fam_in .fam_in_list li {float: left; width:calc(( 100% - 140px ) /3);padding:58px 32px;margin:0 70px 26px 0;box-shadow: 3px 3px 6px #00000026;
border-radius: 5px;box-sizing: border-box;}
.fam_in .fam_in_list li:nth-child(3n) {margin:0 0 26px 0;}
.fam_in .fam_in_list li .fam_in_list_top{padding:0 10px 23px;border-bottom:1px solid #BABABA;}
.fam_in .fam_in_list li .fam_in_list_btm{padding:23px 10px 0;color:#603A8A;font-size: 14px;line-height: 20px;}
.fam_in .fam_in_list li .fam_in_list_top:after {content: "";display:block;clear:both;}
.fam_in .fam_in_list li .fam_in_list_top .fam_in_list_top_thumb {float: left;width:104px;height:104px;display:block;border-radius: 50%;background:#E9E6F1; }
.fam_in .fam_in_list li .fam_in_list_top div {float: left;width:calc( 100% - 104px );padding:10px 0 0 53px;box-sizing: border-box;}
.fam_in .fam_in_list li .fam_in_list_top h5 {color: #603A8A;font-weight: 700;}
.fam_in .fam_in_list li .fam_in_list_top p {color: #603A8A;line-height: 24px;font-weight: 500;}
.fam_in .fam_in_listIng {padding:0 0 19px ;border-bottom: 1px solid #707070;margin:0 0 45px 0;}
.fam_in .fam_in_list li a.fam_in_list_btn {display:block;width:100%;height:51px;line-height:51px;background:#5A3E86;border-radius: 5px;text-align: center;color: #fff;margin-top:39px;font-size: 22px;font-weight: 500;}
.fam_in .fam_in_listSt li a.fam_in_list_btn {background:#EAE6F2;}



/* 로그인 */
.login {padding:280px 0 0 0;}
.login > div {width:500px;margin:0 auto;}
.login > div input {border-bottom:1px solid #603A8A;}

/* 아이디찾기 */
.body_idFind_form {width:500px;margin:0 auto;}
.body_idFind_form dt {font-size:16px;margin:0 0 6px;text-align:left;font-weight: 500;}
.body_idFind_form dd {margin:0 0 20px;}
.body_idFind_form dt span {color:#603A8A;}
.body_idFind_form dd a {display:inline-block;height:47px;border-radius:5px;background:#603A8A;color:#fff;text-align:center;line-height:47px;margin:0 0 0 auto;}
.body_idFind_form a.gray {background:#BABABA;font-size: 20px;font-weight: 300;}
.body_idFind_form dd input {width:100%;height:66px;line-height:46px;background:#F4F4F4;padding:0 10px;color:#603A8A;}
.body_idFind_form dd input:placeholder {color:#B9B9B9;}
.body_idFind_form dd select {width:calc(( 100% - 16px ) /3);border:1px solid #603A8A;border-radius:5px;height:38px;line-height:38px;padding:0 8px;margin:0 4px 0 0;}
.body_idFind_form dd select:last-child {margin:0;}
.body_idFind_form dd > span {display:block;margin:6px 0 0 0;color:#603A8A;text-align:left;}
.body_idFind_form .w70 {width:67%;}
.body_idFind_form .w30 {width:30%;}
.body_idFind_form .mt {margin:6px 0 0 0;}
.body_idFind_form .ml {margin: 0 0 0 3px;}
.body_idFind_form_phone {display:none;}
.body_idFind_form dl {height: 500px;}










/* modal */
.adminModal {position:absolute;width:100%;min-height:100vh;height:100%;top:0;left:0;background:rgba(0,0,0,0.4);z-index:9999;overflow:hidden;}
.adminModal_cont {position:absolute;width:1000px;padding:46px 36px;background:#fff;top:50%;left:50%;transform:translate(-50%, -50%);border-radius:10px;}
.adminModal_cont > div {margin:0 0 40px 0;}
.adminModal_cont h3 {color:#4E327B;text-align:center;margin:0 0 20px 0;font-size:24px;}
.adminModal_cont > div h3 {font-size:21px;color:#111;padding:0 0 16px 0;border-bottom:1px solid #bababa;margin:0 0 20px 0;}
.adminModal_cont_plusbtn {float:right;background:#EAE6F2;border-radius:5px;text-align:center;padding:0 22px;color:#4E327B;margin:0 0 26px 0;font-size:14px;height:26px;line-height:26px;}
.adminModal_cont_uploadbtn {display:inline-block;background:#4E327B;border-radius:5px;text-align:center;padding:0 22px;color:#fff;margin:0 0 26px 0;font-size:14px;height:26px;line-height:26px;}
.adminModal_cont_table {width:100%;}
.adminModal_cont_table th {color:#111;font-size:16px;font-weight:500;padding:10px 0;}
.adminModal_cont_table td {padding:5px 0;}
.adminModal_cont_table td a.plusbtn {background:#ddd;text-align:center;font-size:21px;line-height:28px;border-radius:5px;}
.adminModal_cont_table td span {display:block;background:#EAE6F2;font-size:16px;text-align:center;color:#111;padding:5px 0;margin:0 10px 0 0;}
.adminModal_cont_table td input {padding:0 10px;box-sizing:border-box;width:100%;}
.adminModal_cont_table td select {font-size:16px;font-family:inherit;}
.adminModal_cont_btn:after {content:"";display:block;clear:both;}
.adminModal_cont_btn {margin:60px 0 0 0 !important;}
.adminModal_cont_btn a {float:left;width:calc(( 100% - 10px ) /2);}
.adminModal_cont_btn a.back_btn {margin:0 10px 0 0;}
.modalBanner {margin:0 auto 60px;width:180px;height:40px;line-height:40px;background:#4E327B;color:#fff;text-align:center;border-radius:5px;font-size:16px;}


.adminModal_ok {position:fixed;width:600px;padding:60px;background:#fff;top:50%;left:50%;transform:translate(-50%, -50%);border-radius:10px;}
.adminModal_ok h3 {text-align:center;color:#4E327B;border-bottom:1px solid #ddd;padding:0 0 10px;}
.adminModal_ok_btn {margin:20px 0 0 0;}

.adminModal_ok_text {padding:30px 0 40px;}
.adminModal_ok_text p {font-size:16px;}
.adminModal_ok_text p span {color:#4E327B;font-weight:500;}


.header_gnb_loginSection_modal {display: none;right:160px;text-align:left !important;position:absolute;width:340px; height:620px; z-index : 1; background-color: white;padding:30px 20px;margin:0 0 0 -10px !important;}

.header_gnb_loginSection_modal_content {
	text-align:center;    
	font-size: 28px;
    text-align: center;
    font-weight: 700;
    padding: 0 13px;
    height: 33px;
    line-height: 50px;
	color: #4E327B;
}

.header_gnb_loginSection_modal_content > h5 {text-align:left;font-size:20px;line-height:32px;color:#4E327B;}
.header_gnb_loginSection_modal_content > h5 span {display:block;}
.modal_content_btn {margin:24px 0;}
.modal_content_btn a {width:100%;height:28px;line-height:28px;margin:0 0 5px 0;background:#EAE6F2;color:#4E327B;font-size:14px;font-weight:400;text-align:center;border-radius:5px;}

.header_gnb_loginSection_modal_content_list div{margin:0 0 20px 0;}
.header_gnb_loginSection_modal_content_list div h5{border-top:1px solid #333;font-weight:500;padding:6px 0;text-align:left;line-height:26px;}
.header_gnb_loginSection_modal_content_list div p{text-align:left;line-height:26px;font-weight:400;}



@media (max-width: 640px) {
	body{min-width:1000px;}
    
}



.seller_selection_btn.active {display:block;width:100%;height:55px;line-height:55px;margin:0 0 5px 0;text-align:Center;border-radius: 10px;background: #532493;color:#fff;font-size: 18px;font-weight: 500;}
.seller_selection_btn {cursor:pointer;display:block;width:100%;height:55px;line-height:55px;margin:0 0 5px 0;text-align:Center;border-radius: 10px;border:1px solid #532493;color:#532493;font-size: 18px;font-weight: 500;}

.domae_selection_btn.active {display:block;width:100%;height:55px;line-height:55px;margin:0 0 5px 0;text-align:Center;border-radius: 10px;background: #532493;color:#fff;font-size: 18px;font-weight: 500;}
.domae_selection_btn {cursor:pointer;display:block;width:100%;height:55px;line-height:55px;margin:0 0 5px 0;text-align:Center;border-radius: 10px;border:1px solid #532493;color:#532493;font-size: 18px;font-weight: 500;}



/* 10/26 추가 */
.header_gnb_loginSection {height:100%;width: 300px;}

.selClass {width:1400px;margin:0 auto;}
.famBoard_table {width:100%;}
.famBoard_table th {line-height:26px !important;padding:0 !important;background:#d5cce3;font-weight:600;}
.famBoard_table td {line-height:26px !important;padding:0 !important;border-bottom:1px solid #ddd;}
.famBoard_table td.adminContent_table_name p {float:none !important;padding:0 20px;}

.container {position:relative;}

.fc-scroller-liquid-absolute {overflow:hidden !important;}

.fc-event-title:before {content:"";display:inline-block;width:4px;height:4px;border-radius:50%;background-color:#000;margin:0 5px 3px 0;}
.fc-daygrid-event {background:none !important;border:none !important;}
.fc-event-title {color:#111;}

.calendar_btn_wrap {width:90%;text-align:right;margin:0 auto 40px;}
.calendar_btn {width:120px;height:28px;line-height:26px;text-align:center;border:1px solid #4E327B;color:#4E327B;border-radius:50px;display:inline-block;box-sizing:border-box;	padding:0 0 0 16px;height: 40px;line-height: 40px;}
.calendar_btn.cal {background:url('../image/cal_cal_on.png') no-repeat;background-size:12px;background-position:left 24px center;}
.calendar_btn.list {background:url('../image/cal_list_on.png') no-repeat;background-size:12px;background-position:left 24px center;}
.calendar_btn.on.cal {background:url('../image/cal_cal.png') no-repeat #4E327B;color:#fff;background-size:12px;background-position:left 24px center;}
.calendar_btn.on.list {background:url('../image/cal_list.png') no-repeat #4E327B;color:#fff;background-size:12px;background-position:left 24px center;}



.bxslider img {
    height: 100%;
    margin: auto;
    display: block;
}

.adminWrap_title a img{
    /*padding: 24px 0 0 24px;
    margin: 24px 0 0 24px;*/
}


@media screen and (hover: none) and (pointer: coarse) {
    body {min-width: 100%;}
    .main_logo {display: none;}
    .m_main_logo {display: block !important;}
    .menus > li {
        position: relative;
        width: 100px;
        padding: 0;
        font-size: 30px;
        text-align: center;
        font-weight: 500;
        height: 124px;
        line-height: 124px;
        cursor: pointer;
        min-width: 160px;
    }
    .mainSlede_text span {display: none;}
    .mainSlede_text h2 {display: none;}
    .mainSlede_text p {display: none;}
    .mainSlede_text a {display: block;}

    .header_gnb {
        margin: 0 10px;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header_gnb_loginSection {
        height: 124px !important;
        min-width: 289px !important;
    }

    .mainSlede_text a {
        display: block;
        margin: 270px 0 0 470px;
        width: 280px;
        height: 80px;
        line-height: 80px;
        background: #fff;
        box-shadow: 3px 3px 6px #0000001a;
        border-radius: 60px;
        color: #5A3E86;
        font-size: 32px;
        font-weight: 500;
        text-align: center;
    }
    .body_mainSlide ul li {
        height: 500px;
    }
    .header_gnb_logo {
        width: 40px;
    }

    .header_gnb_menus {
        width: 76%;
        float: left;
    }

    .header_gnb_loginSection ul li a {
        font-size: 25px;
        padding: 0 20px;
    }
    .body_keyword {display: none !important;}
    .body_video {display: none !important;}
    .body_section03 {display: none !important;}
    .body_section04 {display: none !important;}
    .footer {display: none !important;}
    .m_body_maintab_01 {display: block !important;}

    .m_body_maintab_01 img {width: 100%;}

    .body_quick ul li a {
        padding: 20px !important;
    }
    .header_messageLine {
        height: 75px;
    }
    .header_messageLine_message {
        font-size: 28px;
        font-weight: 300;
    }

    #login_name {display: none !important;}
    .header_gnb_loginSection_modal {
        display: none;
        right: 0px;
        text-align: left !important;
        position: absolute;
        width: 600px;
        height: 882px;
        z-index: 1;
        background-color: white;
        padding: 75px 56px;
        margin: 0 0 0 -10px !important;
    }
    .header_gnb_loginSection_modal_content > h5 {
        text-align: left;
        font-size: 26px;
        line-height: 60px;
        color: #4E327B;
        margin-bottom: 43px;
    }
    .modal_content_btn a {
        width: 100%;
        height: 50px;
        line-height: 52px;
        font-size: 26px;
        font-weight: 400;
    }
    .header_gnb_loginSection_modal_content_list div {
        margin: 0 0 53px 0;
    }
    .header_gnb_loginSection_modal_content_list div h5 {
        border-top: 5px solid #333;
        font-size: 26px;
        font-weight: 600;
        padding-top: 15px;
    }
    .header_gnb_loginSection_modal_content_list div p {
        font-size: 28px;
        padding-top: 20px;
    }
    .header_gnb_loginSection_modal_content > h5 span {
        display: block;
        font-weight: 500;
    }
    #subvisual {
        /* height: auto; */
        height: 390px;
    }
    #subvisual img {
        height: auto !important;
    }

    .contact .contact_intro .contact_intro_in p {
        font-size: 18px;
        line-height: 37px;
        font-weight: 500;
        position: relative;
        bottom: 54px;
        left: 116px;
    }

    .contact_in .contact_in_wrap table td.contact_in_wrap_form_text {
        color: #603A8A;
    }

    .contact_in .contact_in_wrap table th {
        width: 138px;
        line-height: 59px;
        padding: 0 0 0px;
        font-size: 30px;
        color: #000;
        font-weight: 500;
        text-align: left;
        vertical-align: top;
    }

    .contact_in .contact_in_wrap table td input::placeholder {
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 300;
    }
    .contact_in .contact_in_wrap table td textarea {
        margin: 0 0 20px 0;
    }
    .contact_in .contact_in_wrap table td.contact_in_wrap_form_file {
        font-weight: 300;
    }
    .contact_in .contact_in_wrap {
        padding: 30px 30px;
    }
    .contact_in .contact_in_wrap table td input {
        font-family: inherit;
        width: 100%;
        border: none;
        border-bottom: 1px solid #CBCBCB;
        padding: 0 0 8.5px;
        background: none;
        font-size: 24px;
        line-height: 30px;
        font-weight: 500;
        margin-bottom: 10px;
        background-color: white;
        /* height: 60px; */
        padding-left: 17px;
        margin-top: 22px;
    }
    
    .contact_in .contact_in_wrap table td textarea {
        background-color: white;
    }

    .contact a.contact_btn {
        position: relative;
        display: block;
        margin: 0px auto 0;
        width: 309px;
        height: 79px;
        line-height: 77px;
        color: #fff;
        text-align: center;
        font-size: 35px;
        font-weight: 300;
        background: #5A3E86;
        border-radius: 50px;
        top: -118px;
    }
    .login_body {
        width: 100%;
        min-width: 0px;
    }
    .marketMember_input input {
        border-bottom: 1px solid #E1E1E1 !important;
    }
    .marketMember_input input::placeholder {color: #E1E1E1 !important;}
    .marketHeader h2 {
        color: black !important;
        font-size: 20px !important;
    }

    .join_body {
        width: 100%;
        min-width: 0px;
    }

    .join .join_page {
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        box-sizing: border-box;
    }
    .join .join_page .join_page_01 a {
        display: block;
        width: 100%;
        height: 150px;
        line-height: 40px;
        background: #fff;
        color: #532493;
        text-align: center;
        margin: 0 auto 20px;
        border-radius: 10px;
        box-shadow: 3px 3px 6px #00000029;
        padding: 26px 0;
        box-sizing: border-box;
    }
    .join .join_page > div {
        width: 100%;
        margin: 0 auto;
        padding: 20px;
    }
    .join_page_01 a > p {line-height: 20px;}
    .join .join_page .join_page_02 {
        display: block;
        /* justify-content: center; */
    }
    .join .join_page .join_page_02 a {
        width: 100%;
    }
    .join .join_page .join_page_02 a {
        margin: 0 0px 20px;
    }
    .join_page_03_btn {
        margin: 18px auto 0;
        width: 100%;
    }
    .join_page_03_privacy {
        width: 100%;
    }
    a.ok_btn {
        font-size: 15px;
        font-weight: 400;
    }
    a.back_btn {
        font-size: 15px;
        font-weight: 400;
    }

    .join_form tr th {
        font-size: 12px !important;
        color: #000;
        line-height: 27px;
        text-align: left;
        font-weight: 500;
        height: 38px;
    }
    .join_form tr td select {
        width: 93px;
        font-size: 12px;
        border-radius: 5px;
    }
    .join_form tr td a {
        width: 100px;
        float: right;
        font-size: 13px;
        font-weight: 200;
        letter-spacing: 0px;
        margin-left: 10px;
    }
    .join {
        background: #F4F2F8;
    }
    .join_page_06_ok {
        width: 100%;
    }
    .body_idFind {
        width: 100%;
        height: 900px;
        text-align: center;
        background-color: #F4F2F8;
    }
    .body_idFind_form {
        width: 100%;
        margin: 0 auto;
        padding: 20px;
    }

    .body_idFind_form a.gray {
        background: #BABABA;
        font-size: 12px;
        font-weight: 300;
    }
    .body_idFind_form dd input {
        background: white;
    }
    .selClass {
        width: 100%;
        margin: 0 auto;
    }
    .selClass_in > p > img {width: 100%;}
    .body_section {
        width: 100%;
        margin: 0 auto;
        height: 108px;
    }
    .menus_2depth {
        width: 100% !important;
    }
    .menus_2depth ul li a {
        white-space: nowrap;
        font-size: 15px;
    }
    .fam_in {
        width: 100%;
        margin: 0 auto;
    }
    .fam_in .fam_in_list li {
        width: 38%;
    }
    .fam_tab {
        width: 90%;
        margin: 0 0 50px 20px;
        display: flex;
        justify-content: flex-start;
    }
    .contact_in {
        width: 100%;
        margin: 0 auto;
        padding: 50px;
    }
    .contact .contact_intro .contact_intro_in {
        width: 100%;
        margin: 0 auto;
        padding: 30px 30px 0 92px;
    }
    .body_infoModify_in {
        width: 100%;
        padding: 0px 15px;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .header_gnb_loginSection_modal_content_list {margin-top: 35px;}
    .modal_content_btn a {
        border-radius: 20px;
        margin-bottom: 12px;
    }
    .contact_in h2 {
        margin: 0 0 39px 0;
        font-weight: 600;
        font-size: 30px;
    }
    .subvisual2 {
        height: 238px !important;
    }
    .fam_in .fam_in_list li a.fam_in_list_btn {
        display: block;
        width: 100%;
        height: 51px;
        line-height: 51px;
        background: #5A3E86;
        border-radius: 20px;
        text-align: center;
        color: #fff;
        margin-top: 39px;
        font-size: 22px;
        font-weight: 500;
    }
    .board_table {
        padding: 50px;
    }
    .board_view {
        padding: 50px;
    }
    .fam_in {
        padding: 50px;
    }

    .fam_in .fam_in_list li .fam_in_list_top div {
        float: left;
        width: calc( 100% - 104px );
        padding: 10px 0 0 18px;
        box-sizing: border-box;
    }

    .contact .contact_intro {
        margin: 0;
        padding: 28px 0 0 0;
    }

    .contact_intro_in > h2 {font-size: 23px;}

    .header {border: 1px solid white;}

    .contact_in .contact_in_wrap table td select {
        background-color: white;
        color: #CBCBCB;
        padding: 5px;
    }

    .adminContent_tab_ready {
        margin: 0;
        padding: 20px 15px;
        background: #EDEBF4;
        top: 63px;
        position: relative;
        height: 161px !important;
    }

    .adminContent_search_ready {
        margin: 0;
        padding: 0 15px 20px 15px;
        background: #EAE6F2 !important;
        margin-bottom: 10px;
        bottom: 149px !important;
        position: relative;
    }

    .marketMember_login{background-color: #F4F2F8;}

    .join_form tr td input[type="text"]::placeholder {
        font-size: 13px;
        letter-spacing: 0px;
    }
    .join_form tr td input[type="password"]::placeholder {
        font-size: 13px;
        letter-spacing: 0px;
    }
    .join_form tr td.text {
        font-size: 8px;
    }

    .adminModal_order {width: 50% !important;}

    .adminModal_cont {
        /* width: 50% !important;
        height: 41% !important; */
    }
    .selClass_in > #list {
        padding: 40px;
    }
    .contact_in_wrap table {
         margin-bottom: 0px;
    }

    
    #editor {
        height: 240px;
    }
    .adminContent_right_stanby {width: 100% !important;margin: 0px !important}
    .body_quick ul li {
        width: 25%;
        height: 112px;
        border-right: 1px solid #C7C7C7;
        box-sizing: border-box;
    }
    .maintab_02_section img {
        position: absolute;
        margin-left: 24px;
    }
    .body_infoModify_in h5 {
        display: none;
    }
    .body_infoModify_in a.ok_btn {
        margin: 10px 0 0 0 !important;
        height: 46px;
        border-radius: 10px;
        line-height: 46px;
    }
    .body_infoModify {
        min-height: 1000px;
    }
}

.m_main_logo {display: none;}
.m_body_maintab_01 {display: none;}